@import "shared/assets/css/screen.css";

:root {
    --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-serif: Lora, Times, serif; /* stylelint-disable-line value-keyword-case */
    --color-primary-text: var(--color-black);
    --color-darker-gray: var(--color-black);
    --head-nav-gap: 3.2rem;
}

.gh-btn {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    border-radius: 6px;
}

.tag-template .gh-main,
.author-template .gh-main {
    padding-top: 8vmin;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-head-btn {
    font-weight: 600;
}

.gh-head-btn svg {
    width: 16px;
    height: 16px;
    margin-right: 0.6rem;
}

.gh-latest {
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.gh-latest .gh-card-meta {
    margin-top: 2.4rem;
}

.gh-wrapper {
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 2.4rem;
}

.gh-wrapper > .gh-section {
    max-width: 720px;
}

.gh-section-title {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-section-title::after {
    flex-grow: 1;
    height: 1px;
    margin-left: 1.6rem;
    content: "";
    background-color: var(--color-light-gray);
}

.gh-card + .gh-card {
    margin-top: 8rem;
}

.gh-card-link {
    display: block;
}

.gh-card-link:hover {
    opacity: 1;
}

.gh-card-title {
    font-size: 3.4rem;
    font-weight: 600;
}

.gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-card-excerpt {
    margin-top: 1.2rem;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.gh-card-meta {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-card-date {
    color: var(--ghost-accent-color);
}

.gh-card-meta-wrapper {
    display: inline-flex;
    align-items: center;
}

.gh-card-meta-wrapper svg {
    position: relative;
    top: -1px;
    margin-left: 0.6rem;
}

.gh-loadmore {
    width: 100%;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin-top: 8rem;
    font-weight: 600;
    color: var(--color-darker-gray);
    letter-spacing: -0.02em;
    background-color: transparent;
    border: 1px solid var(--color-light-gray);
}

.gh-loadmore:hover {
    border-color: var(--color-mid-gray);
}

.gh-sidebar {
    position: sticky;
    top: 4.8rem;
    height: max-content;
    padding-left: 4rem;
    font-size: 1.4rem;
}

.gh-sidebar .gh-section + .gh-section {
    margin-top: 8rem;
}

.gh-about {
    display: flex;
}

.gh-about-icon {
    width: 64px;
    height: 64px;
    margin-right: 2rem;
}

.gh-about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gh-about-title {
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.gh-about-description {
    margin-top: 0.4rem;
    line-height: 1.55;
}

.gh-signup {
    margin-top: 2.8rem;
}

.gh-signup-description {
    line-height: 1.55;
}

.gh-signup .gh-subscribe-input {
    height: 48px;
    padding-left: 1.2rem;
    margin-top: 1.6rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.gh-signup-btn {
    margin-top: 1.6rem;
}

.gh-featured .gh-card + .gh-card {
    margin-top: 2.8rem;
}

.gh-featured .gh-card-title {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.01em;
}

.gh-featured .gh-card-excerpt {
    margin-top: 0.8rem;
    font-family: var(--font-sans);
    font-size: inherit;
    line-height: 1.55;
    color: var(--color-secondary-text);
    letter-spacing: 0;
}

.gh-featured .gh-card-meta {
    margin-top: 1.6rem;
}

.gh-topic-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gh-topic-item + .gh-topic-item {
    margin-top: 1.6rem;
}

.gh-topic-name {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0;
}

.has-serif-title .gh-topic-name {
    font-family: var(--font-serif);
}

.gh-topic-count {
    padding: 0.4rem 0.8rem;
    font-size: 1.3rem;
    line-height: 1;
    border: 1px solid var(--color-light-gray);
    border-radius: 32px;
}

.gh-subscribe {
    padding: 7.2rem 0;
    margin: 12rem 0 8rem;
    background-color: var(--ghost-accent-color);
}

.gh-subscribe-inner {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.gh-subscribe-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
}

.has-serif-title .gh-subscribe-title {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.gh-subscribe-description {
    margin-top: 2rem;
    font-size: 1.9rem;
    line-height: 1.4;
    color: #fff;
}

.gh-subscribe-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 440px;
    height: 56px;
    padding: 0 1.6rem;
    margin: 4.8rem auto 0.8rem;
    font-size: 1.6rem;
    color: var(--color-secondary-text);
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
}

.gh-subscribe .gh-subscribe-input {
    border: 0;
}

.gh-subscribe-input:hover {
    border-color: var(--color-mid-gray);
    opacity: 1;
}

.gh-subscribe-input-text {
    display: flex;
    align-items: center;
}

.gh-subscribe-input svg {
    position: relative;
    top: 1px;
    margin-right: 0.8rem;
}

.gh-subscribe-input-btn {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-subscribe-btn {
    margin-top: 3.2rem;
    color: var(--ghost-accent-color);
    background-color: #fff;
}

.gh-article:not(.no-image) .gh-article-header > * {
    grid-column: wide-start / wide-end;
}

.gh-article-meta {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-meta a {
    font-weight: 600;
}

.gh-article-title {
    font-size: 7.4rem;
    font-weight: 600;
    line-height: 1;
}

.gh-article-excerpt {
    max-width: 920px;
    margin-top: 1.6rem;
    font-size: 2.8rem;
    line-height: 1.35;
    color: var(--color-darker-gray);
}

.gh-article-footer {
    padding-top: 3.2rem;
    margin-top: 8rem;
    border-top: 1px solid var(--color-light-gray);
}

.gh-navigation {
    grid-column: wide-start / wide-end;
}

.gh-navigation > div {
    align-items: flex-start;
    height: 100%;
}

.gh-navigation-link {
    flex-direction: column;
    align-items: flex-start;
}

.gh-navigation-next .gh-navigation-link {
    align-items: flex-end;
    text-align: right;
}

.gh-navigation-previous svg {
    margin-left: -2px;
}

.gh-navigation-next svg {
    margin-right: -2px;
}

.gh-navigation-label {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-navigation-title {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0;
}

.gh-pagehead {
    position: sticky;
    top: 4vmin;
    grid-column: wide-start/main-start;
    max-width: 200px;
    height: max-content;
    padding-top: 0.8rem;
    font-size: 1.4rem;
    line-height: 1;
}

.gh-pagehead-title {
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.gh-pagehead-description {
    margin-top: 0.8rem;
    line-height: 1.45;
    color: var(--color-secondary-text);
}

.gh-tag-label {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-tag-description {
    margin-top: 1.6rem;
}

.gh-author-image {
    width: 80px;
    height: 80px;
    margin-bottom: 2.4rem;
    border-radius: 50%;
}

.gh-author-meta {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.gh-author-location {
    margin-left: -4px;
    color: var(--color-darker-gray);
}

.gh-author-website {
    margin-top: 1.2rem;
}

.gh-author-social {
    display: flex;
    margin-top: 2.4rem;
}

.gh-author-facebook {
    margin-left: 0.8rem;
}

@media (max-width: 767px) {
    .gh-latest {
        margin-bottom: 8rem;
    }

    .gh-wrapper {
        grid-template-columns: 1fr;
    }

    .gh-card + .gh-card {
        margin-top: 6.4rem;
    }

    .gh-loadmore {
        margin-top: 6.4rem;
    }

    .gh-sidebar {
        padding-left: 0;
        margin-top: 8rem;
    }

    .gh-article-title {
        font-size: 4.2rem;
    }

    .gh-article-excerpt {
        font-size: 2.2rem;
    }

    .gh-navigation {
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .gh-subscribe {
        padding: 5.6rem 0;
        margin-top: 8rem;
    }

    .gh-pagehead {
        margin-bottom: 4.8rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .gh-sidebar {
        padding-left: 1.6rem;
    }

    .gh-pagehead {
        margin-bottom: 8rem;
    }

    .gh-author-meta {
        flex-direction: row;
        align-items: center;
    }

    .gh-author-website,
    .gh-author-social {
        margin-top: 0;
        margin-left: 1.6rem;
    }
}

@media (max-width: 991px) {
    .gh-latest {
        margin-top: 0;
    }

    .gh-pagehead {
        position: static;
        grid-column: main-start / main-end;
        max-width: 480px;
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    .gh-head-inner {
        row-gap: 0 !important;
        padding: 0;
    }

    .gh-head-brand {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .gh-head-menu {
        height: 56px;
    }

    .gh-head-menu::before,
    .gh-head-menu::after {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: var(--color-light-gray);
    }

    .gh-head-menu::after {
        top: 136px;
    }
}

@supports (-moz-appearance: none) {
    .gh-topic-count {
        padding-bottom: 0.5rem;
    }

    .gh-subscribe-input-btn {
        position: relative;
        top: 1px;
    }
}
