@import "shared/assets/css/screen.css";

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/mulish-var.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --font-sans: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --content-font-name: var(--font-sans);
    --content-font-size: 1.9rem;
}

.tag-template .gh-main,
.author-template .gh-main {
    padding-top: 8vmin;
}

.gh-head-logo {
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-latest {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2.4rem;
    margin-top: 6.4rem;
}

.gh-latest .gh-card-meta {
    flex-direction: column;
    font-size: 1.4rem;
    white-space: nowrap;
}

.gh-latest .gh-card-date {
    margin-bottom: 1.6rem;
}

.gh-latest .gh-card-duration::before {
    display: none;
}

.gh-latest .gh-card-image-link {
    position: relative;
    display: block;
    padding-bottom: 30%;
    margin-bottom: 4rem;
    transition: opacity 0.3s ease-in-out;
    backface-visibility: hidden;
}

.gh-latest .gh-card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.gh-latest .gh-card-title {
    font-size: 3.6rem;
    font-weight: 800;
}

.gh-latest .gh-card-excerpt {
    margin-top: 1.6rem;
    font-size: 1.8rem;
}

.gh-latest .gh-card-footer {
    margin-top: 3.2rem;
}

.gh-latest .gh-card-more {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.gh-latest .gh-card-more svg {
    width: 16px;
    height: 16px;
    margin-left: 0.4rem;
}

.gh-wrapper {
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 2.4rem;
    margin-top: 12vmin;
}

.gh-wrapper > .gh-section {
    max-width: 720px;
}

.gh-section-title {
    display: flex;
    align-items: center;
    margin-bottom: 4.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-section-title::after {
    flex-grow: 1;
    height: 1px;
    margin-left: 1.6rem;
    content: "";
    background-color: var(--color-darker-gray);
}

.gh-card + .gh-card {
    margin-top: 4.8rem;
}

.gh-card-link {
    display: block;
}

.gh-card-link:hover {
    opacity: 1;
}

.gh-card-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-card-excerpt {
    margin-top: 1.2rem;
    font-size: 1.8rem;
}

.gh-card-meta {
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    color: var(--color-secondary-text);
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.gh-feed .gh-card-meta {
    margin-top: 2rem;
}

.gh-card-date {
    color: var(--ghost-accent-color);
}

.gh-card-duration {
    display: flex;
    align-items: center;
}

.gh-card-duration::before {
    padding: 0 0.8rem;
    font-size: 1rem;
    line-height: 0;
    content: "•";
}

.gh-sidebar {
    font-size: 1.7rem;
}

.gh-sidebar .gh-section + .gh-section {
    margin-top: 5.6rem;
}

.gh-about {
    display: flex;
}

.gh-about-icon {
    width: 64px;
    height: 64px;
    margin-right: 2rem;
}

.gh-about-title {
    font-size: 2.2rem;
    letter-spacing: -0.02em;
}

.gh-about-description {
    margin-top: 0.8rem;
    line-height: 1.55;
}

.gh-signup {
    margin-top: 3.2rem;
}

.gh-signup-description {
    line-height: 1.55;
}

.gh-signup .gh-subscribe-input {
    margin-top: 1.6rem;
}

.gh-featured .gh-card-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.gh-featured .gh-card-excerpt {
    font-size: inherit;
    line-height: 1.55;
}

.gh-topic-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gh-topic-item + .gh-topic-item {
    margin-top: 1.6rem;
}

.gh-topic-name {
    font-size: 1.8rem;
    letter-spacing: -0.02em;
}

.gh-topic-count {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    line-height: 1;
    border: 1px solid var(--color-light-gray);
    border-radius: 32px;
}

.gh-subscribe {
    padding: 7.2vmin 0 8vmin;
    margin: 12vmin 0 8vmin;
    background-color: var(--color-lighter-gray);
}

.gh-subscribe-inner {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.gh-subscribe-title {
    font-size: 3.2rem;
    font-weight: 800;
}

.gh-subscribe-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.4;
}

.gh-subscribe-description::before {
    width: 64px;
    height: 1px;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    content: "";
    background-color: var(--color-darker-gray);
}

.gh-subscribe-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 560px;
    height: 56px;
    padding: 0 1.6rem;
    margin: 4.8rem auto 0;
    font-size: 1.7rem;
    color: var(--color-secondary-text);
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
    transition: border-color 0.2s ease-in-out;
}

.gh-subscribe-input:hover {
    border-color: var(--ghost-accent-color);
    opacity: 1;
}

.gh-subscribe-input-text {
    display: flex;
    align-items: center;
}

.gh-subscribe-input svg {
    position: relative;
    top: 1px;
    margin-right: 0.8rem;
}

.gh-subscribe-btn {
    position: relative;
    top: 1px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-article-meta {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-meta a {
    font-weight: 700;
}

.gh-article-title {
    font-weight: 800;
}

.gh-article-footer {
    padding-top: 3.2rem;
    margin-top: 8rem;
    border-top: 1px solid var(--color-light-gray);
}

.gh-navigation {
    grid-column: wide-start / wide-end;
}

.gh-navigation > div {
    align-items: flex-start;
    height: 100%;
}

.gh-navigation-link {
    flex-direction: column;
    align-items: flex-start;
}

.gh-navigation-next .gh-navigation-link {
    align-items: flex-end;
    text-align: right;
}

.gh-navigation-link svg {
    width: 20px;
    height: 20px;
}

.gh-navigation-previous svg {
    margin-right: 0.8rem;
    margin-left: -2px;
}

.gh-navigation-next svg {
    margin-right: -2px;
    margin-left: 0.8rem;
}

.gh-navigation-label {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: -0.01em;
}

.gh-navigation-title {
    margin-top: 0.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0;
}

.gh-pagehead {
    position: sticky;
    top: 4vmin;
    grid-column: wide-start/main-start;
    max-width: 200px;
    height: max-content;
    padding-top: 0.4rem;
    font-size: 1.5rem;
    line-height: 1;
}

.gh-pagehead-title {
    font-size: 2.1rem;
    font-weight: 800;
}

.gh-pagehead-description {
    margin-top: 0.8rem;
    line-height: 1.3;
    color: var(--color-secondary-text);
}

.gh-tag-label {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-tag-description {
    margin-top: 1.6rem;
}

.gh-author-image {
    width: 80px;
    height: 80px;
    margin-bottom: 2.4rem;
    border-radius: 50%;
}

.gh-author-meta {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.gh-author-location {
    margin-left: -4px;
    color: var(--color-darker-gray);
}

.gh-author-website {
    margin-top: 0.8rem;
}

.gh-author-social {
    display: flex;
    margin-top: 1.6rem;
}

.gh-author-facebook {
    margin-left: 0.8rem;
}

@media (min-width: 992px) {
    .gh-head-inner {
        row-gap: 0 !important;
        padding: 0;
    }

    .gh-head-brand {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .gh-head-menu {
        height: 56px;
    }

    .gh-head-menu::before,
    .gh-head-menu::after {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: var(--color-light-gray);
    }

    .gh-head-menu::after {
        top: 136px;
    }
}

@supports (-moz-appearance: none) {
    .gh-head-btn svg {
        position: relative;
        top: 1px;
    }

    .gh-topic-count {
        padding-bottom: 0.6rem;
    }
}
