.post-column {
    margin-bottom: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-image {
    width: 100%;
}

.post-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--white-color);
}

.post-tag {
    display: inline-block;
    margin-bottom: 8px;
    padding: 4px 8px;
    color: var(--white-color);
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.post-header {
    margin-bottom: 10px;
}

.post-title {
    margin-bottom: 0;
    font-size: 18px;
}

.post-meta {
    display: flex;
    padding: 10px 30px;
    border-top: 1px solid var(--light-gray-color);
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: 700;
    background-color: var(--white-color);
}

.post-meta-length::before {
    content: "\02022";
    padding: 0 8px;
    font-family: serif;
}

.post-date {
    display: block;
    color: var(--secondary-text-color);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-excerpt {
    color: var(--secondary-text-color);
    font-size: 14px;
}

.post-content {
    font-size: 15px;
    line-height: 1.8;
}

.post-tags {
    margin-top: 15px;
}

.post-tags .tag {
    font-weight: 700;
}

.post-tags .tag + .tag {
    margin-left: 10px;
}

.post-tags .tag::before {
    content: "#";
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 42px;
    border-top: 1px solid var(--light-gray-color);
    background-color: var(--white-color);
}

.post-link {
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.post-author {
    display: flex;
    margin-right: 2px;
}

.post-author-link {
    position: relative;
    display: block;
    margin: 0 -4px;
    width: 28px;
    height: 28px;
}

.post-author-link:first-child {
    z-index: 10;
}

.post-author-link:nth-child(2) {
    z-index: 9;
}

.post-author-link:nth-child(3) {
    z-index: 8;
}

.post-author-link:nth-child(4) {
    z-index: 7;
}

.post-author-link:nth-child(5) {
    z-index: 6;
}

.post-author-image {
    width: 100%;
    height: 100%;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    object-fit: cover;
}
