.post-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.post-link {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-link:hover {
    opacity: 1;
}

.post-image {
    width: 100%;
}

.post-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--white-color);
}

.post-tag {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    color: var(--tag-color, var(--ghost-accent-color));
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.post-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.35;
    word-break: break-word;
}

.has-serif-title .post-title {
    font-family: var(--font-serif);
}

.post-excerpt {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.6;
    word-break: break-word;
}

.has-serif-body .post-excerpt {
    font-family: var(--font-serif);
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 20px;
    background-color: var(--white-color);
    border-top: 1px solid var(--light-gray-color);
}

.post-more {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.post-author {
    display: flex;
    margin-right: 2px;
}

.post-author-link {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 -4px;
}

.post-author-link:first-child {
    z-index: 10;
}

.post-author-link:nth-child(2) {
    z-index: 9;
}

.post-author-link:nth-child(3) {
    z-index: 8;
}

.post-author-link:nth-child(4) {
    z-index: 7;
}

.post-author-link:nth-child(5) {
    z-index: 6;
}

.post-author-image {
    width: 100%;
    height: 100%;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-feed {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .post-feed {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .is-head-stacked .post-feed {
        margin-top: 32px;
    }
}
