@import "@tryghost/shared-theme-assets/assets/css/screen.css";
@import "fonts.css";

:root {
    --font-sans: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: "Libre Baskerville", Lora, Georgia, Times, serif;
    --font-mono: "JetBrains Mono";
    --head-nav-gap: 32px;
    --color-primary-text: var(--color-darker-gray);
    --color-secondary-text-dark: rgba(0, 0, 0, 0.4);
    --color-secondary-text-light: rgba(255, 255, 255, 0.64);
    --color-secondary-text: var(--color-secondary-text-dark);
    --color-border: rgba(0, 0, 0, 0.08);
    --color-border-light: rgba(255, 255, 255, 0.2);
    --gap: clamp(24px, 1.7032rem + 1.9355vw, 48px);
    --container-width: 1800px;
    --content-font-size: 2rem;
}

:root.has-light-text {
    --color-darker-gray: #fff;
    --color-secondary-text: var(--color-secondary-text-light);
    --color-border: var(--color-border-light);
}

body {
    font-size: 2rem;
    background-color: var(--background-color);
}

figcaption {
    font-size: 1.3rem;
    text-align: right;
}

.kg-width-full figcaption {
    padding: 0 16px;
}

/* Header
/* ---------------------------------------------------------- */

.gh-head {
    font-size: 1.6rem;
    color: var(--color-secondary-text);
    background-color: transparent;
}

.gh-head-inner {
    padding: clamp(24px, 1.9355rem + 1.2903vw, 40px) 0;
}

.gh-head-brand-wrapper {
    gap: 32px;
}

.gh-head-logo {
    font-weight: 800;
}

.gh-social {
    display: flex;
    gap: 16px;
    align-items: center;
}

.gh-social-link {
    line-height: 0;
    color: inherit;
}

.gh-social-link svg {
    width: 18px;
    height: 18px;
}

.gh-head-menu {
    font-weight: 700;
}

.gh-head-menu a {
    color: inherit;
}

.gh-head-btn.gh-btn {
    height: 36px;
    padding: 0 16px;
    font-size: 1.6rem;
    font-weight: 700;
}

/* About section
/* ---------------------------------------------------------- */

.gh-about-bio {
    font-weight: 800;
    line-height: 1.2;
}

.has-serif-font .gh-about-bio {
    font-family: var(--font-serif);
}

.has-mono-font .gh-about-bio {
    font-family: var(--font-mono);
}

/* Side by side about section
/* ---------------------------------------------------------- */

.has-side-about .gh-about {
    margin-top: 48px;
}

.has-side-about .gh-about-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(4rem, 0.0842rem + 3.9474vw, 6.4rem);
}

.has-side-about .gh-about-bio {
    font-size: clamp(3.2rem, 2.4452rem + 2.0968vw, 5.8rem);
}

@media (max-width: 991px) {
    .has-side-about .gh-about-inner {
        display: flex;
        flex-direction: column-reverse;
        gap: 64px;
    }
}

/* Large background about section
/* ---------------------------------------------------------- */

.has-background-about .gh-about {
    position: relative;
}

.has-background-about .gh-about::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: var(--color-black);
    transition: opacity 1.5s ease;
}

.has-background-about .gh-about.initialized::before {
    opacity: 0.3;
}

.has-background-about .gh-about-inner {
    display: flex;
    align-items: flex-end;
    min-height: var(--about-height);
}

.has-background-about .gh-about-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.has-background-about .gh-about-content {
    position: sticky;
    bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    margin-bottom: 64px;
    text-align: left;
}

.has-background-about .gh-about-bio {
    font-size: clamp(2.4rem, 1.5rem + 2.8125vw, 6rem);
    color: #fff;
}

.has-background-about .gh-subscribe-input {
    color: var(--color-secondary-text-dark);
    background-color: #fff;
    border: 0;
}

@media (max-width: 991px) {
    .has-background-about .gh-about-content {
        max-width: none;
    }
}

/* Typographic profile about section
/* ---------------------------------------------------------- */

.has-typographic-about .gh-about {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 110px);
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: -4vmin;
}

.has-typographic-about .gh-about-inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
}

.has-typographic-about .gh-about-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.has-typographic-about .gh-about-bio {
    max-width: 1400px;
    font-size: clamp(3.2rem, 2.2rem + 3.125vw, 7.2rem);
    font-weight: 800;
}

.has-typographic-about .gh-subscribe-input {
    margin-top: 48px;
}

/* Post card
/* ---------------------------------------------------------- */

.gh-card-link:hover {
    opacity: 1;
}

.gh-card-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.has-serif-font .gh-card-title {
    font-family: var(--font-serif);
}

.has-mono-font .gh-card-title {
    font-family: var(--font-mono);
}

.gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-card-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-secondary-text);
}

.gh-card-meta > * {
    display: flex;
    gap: 8px;
    align-items: center;
}

.gh-card-meta > * + *:not(script)::before {
    width: 2px;
    height: 2px;
    content: "";
    background-color: currentColor;
    border-radius: 50%;
}

.gh-card-access svg {
    margin-right: -5px;
}

/* Classic feed
/* ---------------------------------------------------------- */

.has-classic-feed .gh-card + .gh-card {
    margin-top: clamp(4.8rem, 4rem + 2.5vw, 8rem);
}

.has-classic-feed .gh-card-link {
    display: flex;
    flex-direction: row-reverse;
    gap: clamp(4rem, 3rem + 3.125vw, 8rem);
}

.has-classic-feed .gh-card-image {
    flex: 1;
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.has-classic-feed .gh-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.has-classic-feed .gh-card-wrapper {
    flex: 1;
}

.has-classic-feed .gh-card-title {
    font-size: clamp(3.2rem, 2.8rem + 1.25vw, 4.8rem);
    font-weight: 800;
}

.has-classic-feed .kg-width-full .gh-card-title {
    font-size: clamp(3.2rem, 2.4rem + 2.5vw, 6.4rem);
}

@media (max-width: 991px) {
    .has-classic-feed .gh-card-link {
        flex-direction: column;
        gap: 32px;
    }
}

/* Typographic feed
/* ---------------------------------------------------------- */

.has-typographic-feed .gh-card + .gh-card {
    margin-top: clamp(8rem, 6rem + 6.25vw, 16rem);
}

.has-typographic-feed .gh-card-title {
    max-width: 1400px;
    font-size: clamp(3.2rem, 2.55rem + 2.0312vw, 5.8rem);
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: -0.02em;
}

.has-typographic-feed .gh-card-excerpt {
    max-width: 920px;
    margin-top: 12px;
    font-size: 2.1rem;
    line-height: 1.5;
    letter-spacing: -0.005em;
}

.has-typographic-feed .gh-card-meta {
    margin-top: 16px;
}

/* Parallax feed
/* ---------------------------------------------------------- */

.has-parallax-feed .gh-card {
    display: flex;
    min-height: 640px;
}

.has-parallax-feed .kg-width-full .gh-card {
    min-height: 800px;
}

.has-parallax-feed .gh-card + .gh-card {
    margin-top: 80px;
}

.has-parallax-feed .gh-card-link {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.has-parallax-feed .gh-card:not(.no-image) .gh-card-link::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0.6;
    transition: opacity 0.4s;
}

.has-parallax-feed .gh-card:not(.no-image):hover .gh-card-link::before {
    opacity: 0.4;
}

.has-parallax-feed .gh-card-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.has-parallax-feed .gh-card-wrapper {
    position: relative;
    justify-content: flex-end;
    padding: 64px 48px;
}

.has-parallax-feed .kg-width-full .gh-card-wrapper {
    padding: 64px 48px;
}

.has-parallax-feed :is(.gh-card-title, .gh-card-meta) {
    color: #fff;
}

.has-parallax-feed .gh-card-title {
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 1.1;
}

.has-parallax-feed .gh-card:not(.no-image) .gh-card-link:hover .gh-card-title {
    opacity: 1;
}

.has-parallax-feed .kg-width-full .gh-card-title {
    font-size: 6.4rem;
}

.has-parallax-feed .gh-card-meta {
    margin-top: 12px;
}

/* Article
/* ---------------------------------------------------------- */

.gh-article-meta {
    position: relative;
}

.gh-article-meta-inner {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    grid-column: wide-start / main-start;
    gap: 2px;
}

.gh-article-tag {
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -0.015em;
}

.gh-article-date {
    color: var(--color-secondary-text);
    letter-spacing: -0.015em;
}

.gh-article-title {
    grid-column: wide-start / wide-end;
    font-size: 8rem;
    font-weight: 800;
    line-height: 1;
}

.gh-article-excerpt {
    grid-column: wide-start / wide-end;
    max-width: 960px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
}

.gh-article-image {
    grid-column: wide-start / wide-end;
    margin-top: 80px;
}

.gh-content {
    margin-top: 80px;
    line-height: 1.5;
}

.gh-content > *:not(.kg-width-wide):not(.kg-width-full) {
    grid-column: main-start / wide-end;
}

.gh-content > p {
    max-width: 840px;
}

.gh-content > [id] {
    font-weight: 800;
}

.gh-article-footer {
    margin-top: 80px;
}

.gh-navigation {
    grid-column: wide-start / wide-end;
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.gh-comments {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(16px);
}

.comments-opened .gh-comments {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.gh-comments-inner {
    position: relative;
    grid-column: wide-start / wide-end;
    padding: 80px;
    background-image: linear-gradient(180deg, #f4f4f4, #fff);
    border-radius: 24px;
}

.gh-comments-inner::before {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: "";
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f4f4f4;
    border-left: 16px solid transparent;
}

#ghost-comments-root {
    max-width: 720px;
    margin: 0 auto;
}

/* Subscribe box
/* ---------------------------------------------------------- */

.gh-subscribe {
    padding-top: 160px;
    padding-bottom: 80px;
}

.gh-subscribe-inner {
    display: flex;
    gap: 32px;
    max-width: 720px;
    margin: 0 auto;
}

.gh-subscribe-icon {
    align-self: flex-start;
    width: 120px;
}

.gh-subscribe-title {
    font-size: 3.2rem;
    font-weight: 800;
}

.gh-subscribe-description {
    margin-top: 12px;
    line-height: 1.4;
}

.gh-subscribe-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 480px;
    height: 52px;
    padding: 0 8px 0 24px;
    margin-top: 32px;
    font-size: 1.6rem;
    color: var(--color-secondary-text);
    cursor: pointer;
    background-color: var(--color-border);
    border-radius: 72px;
}

.gh-subscribe-input .gh-btn {
    font-weight: 700;
}

.gh-subscribe-btn {
    margin-top: 24px;
}
