.single {
  .post-header {
    background-color: @white-color;
    margin-bottom: 0;
    padding: 25px 30px 15px;
  }

  .post-title {
    font-size: 22px;
  }

  .post-image-link {
    display: block;
    pointer-events: none;
  }

  .post-wrapper {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .post-template {
    .site-content > .container {
      &, .content-column {
        padding-left: 0;
        padding-right: 0;
      }

      & > .row {
        margin-left: 0;
        margin-right: 0;
      }

      .post,
      .author,
      .navigation-item,
      .comment {
        border-radius: 0;
      }
    }
  }
}