.share {
  align-items: center;
  display: flex;
  line-height: 1;
  margin-top: 30px;
}
.share-item {
  align-items: center;
  background-color: var(--light-gray-color);
  display: flex;
  flex: 1;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  transition: 0.3s var(--animation-base);
  transition-property: background-color, color;
}
.share-item + .share-item {
  margin-left: 15px;
}
.share-item:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.share-label {
  margin-left: 5px;
}
@media (max-width: 767px) {
  .share-item + .share-item {
    margin-left: 10px;
  }
}
