.tag {
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.tag:before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s opacity var(--animation-base);
  z-index: 10;
}
.tag:hover:before {
  opacity: 1;
}
.tag:hover .tag-name:before {
  margin-right: 10px;
  width: 30px;
}
.tag-content {
  bottom: 0;
  left: 0;
  padding: 45px 45px 60px 45px;
  position: absolute;
  right: 0;
  z-index: 10;
}
.tag-content:before {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.75));
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  height: 150%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.tag-name {
  align-items: center;
  color: var(--white-color);
  display: flex;
  font-size: 35px;
  margin-bottom: 0;
}
.tag-name:before {
  background: var(--white-color);
  content: "";
  height: 3px;
  margin-right: 0;
  transition: 0.4s var(--animation-base);
  transition-property: margin-right, width;
  width: 0;
}
.tag-description {
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.4;
  margin-top: 10px;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .tag-content {
    padding: 30px 30px 45px 30px;
  }
  .tag-name {
    font-size: 30px;
  }
}
