.home-template .tag {
    z-index: 10;
    height: 100%;
    overflow: hidden;
}

.home-template .tag::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.4s opacity var(--animation-base);
}

.home-template .tag:hover::before {
    opacity: 1;
}

.home-template .tag:hover .tag-name::before {
    width: 30px;
    margin-right: 10px;
}

.home-template .tag-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 45px 45px 60px;
}

.home-template .tag-content::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 150%;
    content: "";
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.75));
    background-repeat: no-repeat;
}

.home-template .tag-name {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--white-color);
    letter-spacing: -0.01em;
    word-break: break-word;
}

.home-template .tag-name::before {
    width: 0;
    height: 3px;
    margin-right: 0;
    content: "";
    background: var(--white-color);
    transition: 0.4s var(--animation-base);
    transition-property: margin-right, width;
}

.home-template.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .tag-name {
    font-family: var(--gh-font-heading, var(--font-serif));
}

.home-template .tag-description {
    margin-top: 12px;
    font-size: 1.7rem;
    line-height: 1.4;
    color: var(--white-color);
    word-break: break-word;
    opacity: 0.7;
}

@media (max-width: 767px) {
    .home-template .tag-content {
        padding: 30px 30px 45px;
    }

    .home-template .tag-name {
        font-size: 30px;
    }
}
