{{#if comments}}
    <div class="gh-comments gh-canvas">
        <h2 class="gh-comments-title">Comments ({{comment_count empty="0" single="" plural=""}})</h2>
        {{comments title="" count=false}}
    </div>
{{/if}}