@import "shared/assets/css/screen.css";

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url("../fonts/lato-v17-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url("../fonts/lato-v17-latin-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url("../fonts/lato-v17-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    font-display: optional;
    src: url("../fonts/lato-v17-latin-700italic.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: optional;
    src: url("../fonts/lato-v17-latin-900.woff2") format("woff2");
}

:root {
    --font-sans: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-name-content: var(--font-sans);
    --font-size-content: 1.9rem;
}

.gh-head {
    font-size: 1.7rem;
}

.gh-head-logo {
    font-weight: 900;
}

.gh-head-btn {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.gh-section + .gh-section {
    margin-top: 6.4rem;
}

.gh-section-title {
    margin-bottom: 3.2rem;
    font-size: 1.5rem;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.gh-feed .gh-card + .gh-card {
    padding-top: 4rem;
    margin-top: 4rem;
    border-top: 1px solid var(--color-light-gray);
}

.gh-card-link:hover .gh-card-title {
    color: var(--ghost-accent-color);
}

.gh-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.gh-card-title {
    font-size: 2.4rem;
    font-weight: 900;
    transition: color 0.1s ease-in-out;
}

.gh-card-date {
    padding-top: 0.5rem;
    margin-left: 2.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-secondary-text);
    text-transform: uppercase;
    white-space: nowrap;
}

.gh-card-excerpt {
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

.gh-featured .gh-card {
    margin: 0 -3.2rem;
    background-color: var(--color-lighter-gray);
    border-radius: 8px;
}

.gh-featured .gh-card + .gh-card {
    margin-top: 2.4rem;
}

.gh-featured .gh-card-link {
    display: block;
    padding: 3.2rem;
}

.gh-subscribe {
    padding: 7.2rem 0 6.4rem;
    margin-top: 12vmin;
    margin-bottom: 4vmin;
    text-align: center;
    background-color: var(--color-lighter-gray);
}

.gh-subscribe-title {
    font-size: 3.4rem;
    font-weight: 900;
}

.gh-subscribe-description {
    margin-top: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-secondary-text);
}

.gh-subscribe-form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 560px;
    height: 56px;
    padding: 0 8px 0 1.6rem;
    margin: 3.2rem auto 0;
    font-size: 1.8rem;
    color: var(--color-secondary-text);
    background-color: var(--color-white);
    border-radius: 4px;
}

.gh-subscribe-btn {
    display: flex;
    align-items: center;
    height: calc(100% - 16px);
    padding: 0 1.6rem;
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    background-color: var(--ghost-accent-color);
    border-radius: 4px;
}

.gh-subscribe-footer {
    margin-top: 3.2rem;
}

.gh-subscribe-footer a {
    text-decoration: underline;
}

.post-template .gh-head,
.post-template .gh-article-header,
.page-template .gh-head,
.page-template .gh-article-header {
    background-color: var(--color-lighter-gray);
}

.gh-article {
    padding: 0;
}

.gh-article-header {
    padding: 8vmin 0 calc(8vmin + 4rem);
    margin-bottom: 0;
}

.no-image .gh-article-header,
.home-template .gh-article-header {
    padding-bottom: max(6vmin, 3rem);
}

.gh-article-header-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column: wide-start/wide-end;
    column-gap: 4.8rem;
}

.gh-article-meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-label {
    padding: 0.5rem 0.6rem;
    margin-right: 1.2rem;
    color: var(--color-white);
    background-color: var(--ghost-accent-color);
    border-radius: 4px;
}

.gh-article-title {
    font-weight: 900;
}

.gh-article-image {
    grid-column: auto;
    margin-top: -8vmin;
}

.home-template .gh-article-image {
    margin-top: 0;
}

.gh-article-image img {
    border-radius: 4px;
}

.gh-article-footer {
    margin-top: 6.4rem;
}

.gh-article-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.9rem;
    font-weight: 700;
}

.gh-article-navigation-previous {
    display: flex;
}

.gh-article-navigation-sep {
    padding: 0 1.2rem;
}

.gh-article-navigation-all {
    color: var(--ghost-accent-color);
}

.gh-article-navigation-next {
    text-align: right;
}

.gh-pagehead {
    display: flex;
    margin: 8vmin 0;
}

.gh-pagehead-title {
    font-size: 4.2rem;
    font-weight: 900;
}

.gh-pagehead-description {
    margin-top: 0.8rem;
    font-size: 1.8rem;
    color: var(--color-secondary-text);
}

.gh-author-image {
    width: 128px;
    height: 128px;
    margin-right: 3.2rem;
    border-radius: 50%;
}

.gh-author-meta {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}

.gh-author-meta > * + * {
    margin-left: 2rem;
}

.gh-author-twitter,
.gh-author-facebook {
    line-height: 0;
}

.gh-author-facebook {
    margin-left: 1.2rem;
}
