@import "shared/assets/css/screen.css";

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/mulish-var.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --font-sans: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --content-font-name: var(--font-sans);
    --content-font-size: 1.9rem;
    --content-letter-spacing: -0.01em;
}

.gh-head {
    font-size: 1.7rem;
}

.gh-head-brand-wrapper {
    display: flex;
    align-items: center;
}

.gh-head-logo {
    font-weight: 800;
}

.gh-head-description {
    position: relative;
    padding-left: 2.4rem;
    margin-left: 2.4rem;
    color: var(--color-secondary-text);
}

.gh-head-description::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 40px;
    margin-top: -20px;
    content: "";
    background-color: var(--color-light-gray);
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-section + .gh-section {
    margin-top: 6.4rem;
}

.gh-section-title {
    position: relative;
    margin-bottom: 6.4rem;
    font-size: 1.4rem;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.gh-section-title span {
    position: relative;
}

.gh-section-title::after,
.gh-section-title span::after {
    position: absolute;
    bottom: -12px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--color-light-gray);
}

.gh-section-title span::after {
    z-index: 10;
    height: 4px;
    margin-bottom: 1px;
    background-color: var(--ghost-accent-color);
}

.gh-feed .gh-card + .gh-card {
    padding-top: 4.8rem;
    margin-top: 4.8rem;
    border-top: 1px solid var(--color-darker-gray);
}

.gh-card-link {
    display: block;
}

.gh-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.gh-card-title {
    font-size: 3.2rem;
    font-weight: 800;
    transition: color 0.1s ease-in-out;
}

.gh-card-link:hover .gh-card-title {
    text-decoration: underline;
}

.gh-card-excerpt {
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

.gh-card-footer {
    margin-top: 2.4rem;
    line-height: 1;
    color: var(--color-secondary-text);
}

.gh-card-date {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}

.gh-featured .gh-card {
    margin: 0 -3.2rem;
    background: linear-gradient(315deg, #efefef, #fafafa);
    border-radius: 8px;
}

.gh-featured .gh-card + .gh-card {
    margin-top: 2.4rem;
}

.gh-featured .gh-card-link {
    padding: 3.6rem 3.2rem;
}

.gh-subscribe {
    padding: max(6.4vmin, 4rem) 2.4rem max(7.2vmin, 4rem);
    margin-top: 12vmin;
    margin-bottom: 4vmin;
    text-align: center;
    background: linear-gradient(315deg, #efefef, #fafafa);
    border-radius: 8px;
}

.gh-subscribe-title {
    font-size: var(--h1-size);
    font-weight: 800;
}

.gh-subscribe-description {
    margin-top: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-secondary-text);
}

.gh-subscribe-form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 560px;
    height: 56px;
    padding: 0 8px 0 2.4rem;
    margin: 4.8rem auto 0;
    font-size: 1.8rem;
    color: var(--color-secondary-text);
    background-color: var(--color-white);
    border-radius: 28px;
    transition: box-shadow 0.2s ease-in-out;
}

.gh-subscribe-form-input:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.gh-subscribe-btn {
    display: flex;
    align-items: center;
    height: calc(100% - 16px);
    padding: 0 1.2rem 0 1.6rem;
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    background-color: var(--ghost-accent-color);
    border-radius: 28px;
}

.gh-subscribe .gh-subscribe-btn svg {
    width: 20px;
    height: 20px;
}

.post-template .gh-head,
.post-template .gh-article-header,
.page-template .gh-head,
.page-template .gh-article-header {
    background-color: var(--color-lighter-gray);
}

.gh-article {
    padding: 0;
}

.gh-article-header {
    padding: 8vmin 0 calc(8vmin + 4rem);
    margin-bottom: 0;
}

.no-image .gh-article-header,
.home-template .gh-article-header {
    padding-bottom: max(4.8vmin, 3rem);
}

.gh-article-header-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column: wide-start/wide-end;
    column-gap: 4.8rem;
}

.gh-article-meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-label {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
    font-weight: 700;
    color: var(--ghost-accent-color);
}

.gh-article-label-indicator {
    width: 6px;
    height: 6px;
    margin-top: -1px;
    margin-right: 0.6rem;
    background-color: var(--ghost-accent-color);
    border-radius: 50%;
    box-shadow: 0 0 0 0 var(--ghost-accent-color);
    transform: scale(1);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.gh-article-title {
    font-weight: 800;
}

.gh-article-image {
    grid-column: auto;
    margin-top: -8vmin;
}

.home-template .gh-article-image {
    margin-top: 0;
}

.gh-article-image img {
    border-radius: 4px;
}

.gh-article-footer {
    margin-top: max(6.4vmin, 4.8rem);
}

.gh-article-navigation {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    border-top: 2px solid var(--color-darker-gray);
}

.gh-article-navigation-previous {
    display: flex;
    margin-left: -5px;
}

.gh-article-navigation-all {
    color: var(--ghost-accent-color);
}

.gh-article-navigation-next {
    margin-right: -5px;
    text-align: right;
}

.gh-pagehead {
    display: flex;
    margin: 8vmin 0 max(8vmin, 4.8rem);
}

.author-template .gh-pagehead {
    position: relative;
    padding: 8rem 3.2rem 4rem;
    margin-top: calc(8vmin + 32px);
    margin-right: -3.2rem;
    margin-left: -3.2rem;
    background: linear-gradient(135deg, #efefef, #fafafa);
    border-radius: 8px;
}

.gh-pagehead-title {
    font-size: var(--h1-size);
    font-weight: 800;
}

.gh-pagehead-description {
    margin-top: 1.2rem;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

.gh-tag-name {
    color: var(--ghost-accent-color);
}

.gh-author-image {
    position: absolute;
    top: -64px;
    width: 120px;
    height: 120px;
    margin-right: 3.2rem;
    background-color: var(--color-white);
    border: 4px solid var(--color-white);
    border-radius: 50%;
}

.gh-author-meta {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
}

.gh-author-meta > * + * {
    margin-left: 2rem;
}

.gh-author-twitter,
.gh-author-facebook {
    line-height: 0;
}

.gh-author-facebook {
    margin-left: 1.2rem;
}

.u-hover,
.u-hover-inner {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.u-hover span {
    line-height: 0;
    transition: all 0.2s ease-in-out;
}

.u-hover span:nth-of-type(2) {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateX(-5px);
}

.u-hover.reverse span:nth-of-type(2) {
    right: auto;
    left: 0;
    transform: translateX(5px);
}

.u-hover:hover span:nth-of-type(1) {
    opacity: 0;
    transform: translateX(5px);
}

.u-hover.reverse:hover span:nth-of-type(1) {
    transform: translateX(-5px);
}

.u-hover:hover span:nth-of-type(2) {
    opacity: 1;
    transform: translateX(0);
}

.u-hover svg {
    width: 18px;
    height: 18px;
}

@media (max-width: 767px) {
    .gh-head-description {
        padding-left: 1.6rem;
        margin-left: 1.6rem;
    }

    .gh-head-description::before {
        height: 32px;
        margin-top: -16px;
    }

    .gh-section-featured {
        grid-column: full-start / full-end;
    }

    .gh-section-featured .gh-section-title {
        margin-right: 4vmin;
        margin-left: 4vmin;
    }

    .gh-featured .gh-card {
        margin: 0;
        border-radius: 0;
    }

    .gh-featured .gh-card-link {
        padding-right: 4vmin;
        padding-left: 4vmin;
    }

    .gh-article-navigation-all span {
        display: none;
    }

    .author-template .gh-pagehead {
        grid-column: full-start / full-end;
        padding: 7.2rem 4vmin 3.2rem;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
    }

    .gh-author-image {
        top: -44px;
        width: 88px;
        height: 88px;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 26, 117, 0.7);
    }

    70% {
        box-shadow: 0 0 0 4px rgba(255, 26, 117, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 26, 117, 0);
    }
}
