@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "fonts.css";

:root {
    --font-sans: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-serif: Lora, Times, serif; /* stylelint-disable-line value-keyword-case */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

.is-home-cta :is(.gh-head, .gh-foot, .gh-portal-triggerbtn-iframe) {
    display: none;
}

.is-home-cta #gh-main {
    padding: 0;
}

.home-template #announcement-bar-root {
    position: absolute;
    right: 0;
    left: 0;
}

#announcement-bar-root + .gh-site .gh-home {
    padding-top: 48px;
}

.gh-home {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
}

.gh-home-cta {
    display: grid;
    grid-template-rows: 1fr 2fr auto;
    padding: 5.6rem;
    background-color: var(--ghost-accent-color);
}

.gh-home-head {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
}

.gh-home-logo {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1;
    color: var(--color-white);
    letter-spacing: -0.03em;
}

.gh-home-logo img {
    max-height: 48px;
    margin-bottom: 1.2rem;
}

.gh-home-description {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);
}

.gh-home-head .gh-search {
    margin-top: -4px;
}

.gh-home-subscribe-title {
    font-size: 3.2rem;
    color: #fff;
}

.has-serif-title .gh-home-subscribe-title {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.gh-home-subscribe-description {
    max-width: 480px;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #fff;
}

.gh-home-subscribe-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-top: 4rem;
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
}

.gh-home-subscribe-input::after {
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.26, 0.86, 0.6, 0.99);
}

.gh-home-subscribe-input:hover {
    opacity: 1;
}

.gh-home-subscribe-input:hover::after {
    opacity: 1;
}

.gh-home-subscribe-input span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 0;
    color: var(--color-darker-gray);
    background-color: #fff;
    border-radius: 50%;
}

.gh-home-copyright {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -0.01em;
}

.gh-home-latest {
    position: relative;
    padding: 5.6rem;
    padding-bottom: 0;
    overflow: hidden;
    user-select: none;
}

.gh-home-latest-wrapper {
    width: 125%;
    height: 125%;
    transform: scale(0.8);
    transform-origin: 0 0;
}

.gh-home-latest-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.gh-home-latest .gh-article-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.gh-home-latest .gh-article {
    position: relative;
    max-width: 750px;
    padding: 0;
    padding-top: 4rem;
    margin: 0 auto;
}

.gh-home-latest .gh-article-title {
    margin-bottom: 2rem;
    font-size: 5.4rem;
    line-height: 1.1;
}

.gh-home-latest .gh-article-meta {
    font-size: 1.7rem;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-home-latest .gh-article-image img {
    width: 100%;
}

.gh-home-latest .gh-content {
    --content-font-size: 2.1rem;
}

.gh-home-latest-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12rem 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), #fff);
}

.gh-home-latest-footer .gh-btn {
    padding: 1.4rem 2.8rem;
    font-size: 2rem;
    letter-spacing: -0.01em;
    box-shadow: 0 27px 80px rgba(0, 0, 0, 0.07), 0 11.28px 33.4221px rgba(0, 0, 0, 0.0503198), 0 6.0308px 17.869px rgba(0, 0, 0, 0.0417275), 0 3.38082px 10.0172px rgba(0, 0, 0, 0.035), 0 1.79553px 5.32008px rgba(0, 0, 0, 0.0282725), 0 0.747159px 2.21381px rgba(0, 0, 0, 0.0196802);
    transition: transform 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    transform: scale(1.25);
    will-change: transform;
}

.gh-home-latest-footer .gh-btn:hover {
    opacity: 1;
    transform: scale(1.4);
}

.gh-home-latest-label {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1.1rem 0.5rem 0.9rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-darker-gray);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    border: 1px solid var(--color-light-gray);
    border-radius: 32px;
}

.gh-home-latest-indicator {
    width: 8px;
    height: 8px;
    margin-top: -1px;
    margin-right: 0.8rem;
    background-color: var(--ghost-accent-color);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(var(--ghost-accent-color-rgb), 1);
    animation: 1.2s blink ease infinite;
}

.is-head-left-logo .gh-head-inner {
    grid-template-columns: 1fr 50% 1fr;
}

.gh-head-logo {
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-pagehead {
    margin-bottom: 4rem;
}

.gh-pagehead-title {
    font-size: 3.6rem;
}

.has-serif-title .gh-pagehead-title {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.gh-pagehead-description {
    margin-top: 0.8rem;
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

.gh-author {
    display: flex;
}

.gh-author-image {
    width: 80px;
    height: 80px;
    margin-right: 2rem;
    border-radius: 50%;
}

.gh-author-meta {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    color: var(--color-darker-gray);
}

.gh-author-meta > * + * {
    margin-left: 1.6rem;
}

.gh-author-twitter,
.gh-author-facebook {
    line-height: 0;
}

.gh-author-facebook {
    margin-left: 1.2rem;
}

.gh-card-link {
    position: relative;
    display: block;
    padding: 3.2rem 0;
    border-top: 1px solid var(--color-light-gray);
}

.gh-card-link:hover {
    opacity: 1;
}

.gh-card:first-child .gh-card-link {
    padding-top: 0;
    border-top: 0;
}

.gh-card-image {
    margin-bottom: 2.4rem;
}

.gh-card-date {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.gh-card-month {
    margin-right: 0.2rem;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-card-title {
    margin-top: 0.4rem;
    font-size: 2.4rem;
    font-weight: 800;
    word-break: break-word;
}

.gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-card-excerpt {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
    word-break: break-word;
}

.gh-article {
    padding: 0;
}

.gh-article-header {
    text-align: center;
}

.gh-article-meta {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-meta a {
    font-weight: 700;
}

.gh-article-image {
    grid-column: main-start / main-end;
}

.image-wide .gh-article-image {
    grid-column: wide-start / wide-end;
}

.image-full .gh-article-image {
    grid-column: full-start / full-end;
}

.image-full .gh-article-image img {
    width: 100%;
}

.gh-article-footer {
    padding-top: 3.2rem;
    margin-top: 8rem;
    border-top: 1px solid var(--color-light-gray);
}

.gh-article-footer:not(.has-prev):not(.has-next) {
    display: none;
}

.gh-article-footer.no-border {
    margin-top: 32px;
    border-top: 0;
}

.gh-navigation {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-navigation-middle .gh-navigation-link {
    color: var(--ghost-accent-color);
}

@media (max-width: 767px) {
    .gh-home-cta {
        padding: 3.2rem var(--gap);
    }

    .gh-home-subscribe-title {
        font-size: 2.8rem;
    }

    .gh-home-subscribe-input {
        font-size: 1.7rem;
    }

    .gh-home-latest {
        padding: 3.2rem var(--gap) 0;
    }

    .gh-home-latest-icon {
        width: 72px;
        height: 72px;
    }

    .gh-home-latest .gh-article {
        padding-top: 3.2rem;
    }

    .gh-home-latest .gh-article-title {
        font-size: 3.6rem;
    }

    .gh-home-latest .gh-article-meta {
        font-size: 1.6rem;
    }

    .gh-home-latest-footer {
        padding: 8rem 0;
    }

    .gh-article-footer {
        margin-top: 6.4rem;
    }

    .gh-navigation-link svg {
        width: 20px;
        height: 20px;
    }

    .gh-pagehead {
        margin-bottom: 3.6rem;
    }

    .gh-author {
        flex-direction: column;
    }

    .gh-author-image {
        margin-bottom: 1.6rem;
    }
}

@media (max-width: 991px) {
    .gh-home {
        grid-template-columns: 1fr;
        height: auto;
    }

    .gh-home-latest {
        height: 100vh;
    }

    .gh-home-footer {
        display: none;
    }

    .gh-home-latest .gh-home-latest-label {
        display: none;
    }
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        justify-content: center;
        margin: 0;
    }
}

@supports (-moz-appearance: none) {
    .gh-home-latest-label {
        padding-bottom: 0.6rem;
    }

    .gh-home-latest-indicator {
        margin-top: 0;
    }

    .gh-home-latest-footer .gh-btn {
        padding-top: 1.3rem;
        padding-bottom: 1.5rem;
    }
}

@supports (-webkit-touch-callout: none) {
    .gh-home-latest-footer .gh-btn {
        padding-top: 1.3rem;
        padding-bottom: 1.5rem;
    }
}

@keyframes blink {
    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
