@import "shared/assets/css/screen.css";

@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/mulish-var.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --font-sans: Mulish; /* stylelint-disable-line value-keyword-case */
    --head-height: 80px;
    --h1-size: 4.2rem;
}

.home-template .gh-portal-triggerbtn-iframe {
    display: none;
}

body:not(.home-template) .gh-main {
    padding: 8vmin 0;
}

.gh-home {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
}

.gh-home-cta {
    display: flex;
    flex-direction: column;
    padding: 5.6rem;
    background-color: var(--color-darker-gray);
}

.gh-home-logo {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--color-white);
    letter-spacing: -0.03em;
}

.gh-home-description {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.7);
}

.gh-home-subscribe {
    flex-grow: 1;
    margin-top: 20vmin;
}

.gh-home-subscribe-title {
    font-size: 3.2rem;
    color: #fff;
}

.gh-home-subscribe-description {
    margin-top: 1.6rem;
    font-size: 1.7rem;
    color: #fff;
}

.gh-home-subscribe-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-top: 4rem;
    font-size: 1.9rem;
    color: #fff;
    border-bottom: 4px solid rgba(255, 255, 255, 0.4);
}

.gh-home-subscribe-input::after {
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.26, 0.86, 0.6, 0.99);
}

.gh-home-subscribe-input:hover::after {
    opacity: 1;
}

.gh-home-subscribe-input span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 0;
    color: #fff;
    background-color: var(--ghost-accent-color);
    border-radius: 50%;
}

.gh-home-copyright {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -0.01em;
}

.gh-home-latest {
    position: relative;
    padding: 5.6rem;
    padding-bottom: 0;
    overflow: hidden;
}

.gh-home-latest-wrapper {
    width: 125%;
    height: 125%;
    transform: scale(0.8);
    transform-origin: 0 0;
}

.gh-home-latest-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.gh-home-latest .gh-article {
    position: relative;
    max-width: 750px;
    padding: 0;
    padding-top: 4rem;
    margin: 0 auto;
}

.gh-home-latest .gh-article-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.gh-home-latest .gh-article-title {
    margin-bottom: 2rem;
    font-size: 4.4rem;
}

.gh-home-latest .gh-article-meta {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.gh-home-latest-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12rem 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), #fff);
}

.gh-home-latest-footer .gh-btn {
    height: 48px;
    padding: 0.8rem 2rem;
    font-size: 2rem;
    letter-spacing: -0.03em;
    background-color: var(--ghost-accent-color);
    box-shadow: 0 27px 80px rgba(0, 0, 0, 0.07), 0 11.28px 33.4221px rgba(0, 0, 0, 0.0503198), 0 6.0308px 17.869px rgba(0, 0, 0, 0.0417275), 0 3.38082px 10.0172px rgba(0, 0, 0, 0.035), 0 1.79553px 5.32008px rgba(0, 0, 0, 0.0282725), 0 0.747159px 2.21381px rgba(0, 0, 0, 0.0196802);
    transform: scale(1.25);
}

.gh-home-latest-label {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.9rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: var(--color-darker-gray);
    border: 1px solid var(--color-light-gray);
    border-radius: 32px;
}

.gh-home-latest-indicator {
    width: 8px;
    height: 8px;
    margin-right: 0.8rem;
    background-color: var(--ghost-accent-color);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 26, 117, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.gh-head {
    padding: 0 min(3.2rem, 4vmin);
    background-color: var(--color-darker-gray);
}

.gh-head-logo {
    font-weight: 800;
}

.gh-head-logo,
.gh-head-menu a {
    color: var(--color-white);
}

.gh-head-menu a {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-head-btn {
    height: 32px;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    font-size: 1.5rem;
    background-color: var(--ghost-accent-color);
}

.gh-pagehead {
    margin-bottom: 4.8rem;
}

.gh-pagehead-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 3.6rem;
}

.gh-pagehead-title::before {
    width: 40px;
    height: 2px;
    margin-right: 1.6rem;
    content: "";
    background-color: var(--color-darker-gray);
}

.gh-pagehead-description {
    margin-top: 1.6rem;
    font-size: 1.8rem;
    color: var(--color-secondary-text);
}

.gh-author {
    display: flex;
}

.gh-author-image {
    width: 96px;
    height: 96px;
    margin-right: 2.4rem;
    border-radius: 50%;
}

.gh-author-bio {
    margin-top: 0.8rem;
}

.gh-author-meta {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    color: var(--color-darker-gray);
}

.gh-author-meta > * + * {
    margin-left: 2rem;
}

.gh-author-twitter,
.gh-author-facebook {
    line-height: 0;
}

.gh-author-facebook {
    margin-left: 1.2rem;
}

.gh-card-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4rem 0;
    white-space: nowrap;
    border-top: 1px solid var(--color-light-gray);
}

.gh-card-link::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: var(--color-darker-gray);
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.26, 0.86, 0.6, 0.99);
}

.gh-card-link:hover::before {
    opacity: 1;
}

.gh-card-date {
    font-size: 1.1rem;
    letter-spacing: -0.01em;
}

.gh-card-month {
    margin-right: 0.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-card-title {
    margin-left: 1.6rem;
    font-size: 1.9rem;
}

.gh-card-excerpt {
    overflow: hidden;
    font-size: 1.7rem;
    color: var(--color-secondary-text);
    text-overflow: ellipsis;
}

.gh-card-excerpt::before {
    padding: 0 0.4rem;
    content: "—";
}

.gh-article {
    padding: 0;
}

.gh-article-header {
    text-align: center;
}

.gh-article-meta {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-meta a {
    font-weight: 700;
}

.gh-article-image {
    grid-column: main-start / main-end;
}

.gh-article-footer {
    padding-top: 3.2rem;
    margin-top: 8rem;
    border-top: 1px solid var(--color-light-gray);
}

.gh-navigation {
    font-size: 1.8rem;
    font-weight: 700;
}

.gh-navigation-middle .gh-navigation-link {
    color: var(--ghost-accent-color);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 26, 117, 0.7);
    }

    70% {
        box-shadow: 0 0 0 4px rgba(255, 26, 117, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 26, 117, 0);
    }
}

@media (max-width: 991px) {
    .gh-home {
        grid-template-columns: 1fr;
    }

    .gh-home-subscribe {
        margin-top: 9.6rem;
    }

    .gh-home-copyright {
        display: none;
    }

    .gh-home-latest {
        height: 100vh;
    }
}
