/* @group Global: Membership */

.access-icon{
    // display: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    svg{
        display: block;
        width: 17px;
        height: 17px;
        fill: $main-color;
        
    }
}
.post-access-public{
    .visibility-public{ display: inline-block; }
}
.post-access-members{
    .visibility-members{ display: inline-block; }
}
.post-access-paid{
    .visibility-paid{ display: inline-block; }
}

/* Article CTA */

.subscribe-cta{
    border: 2px solid #ebebf7;
    padding: 50px;
    text-align: center;
    color: $black;
    .title{
        margin-bottom: 10px;
    }
    .button{
        margin-top: 25px;
    }
    .sign-in{
        margin-top: 25px;
    }
}

.members-form{
    background: $white;
    box-shadow: $large-shadow;
    padding: $section-padding;
}

.subscribe-form{
    .submit{
        i{
            font-size: 100%;
        }
        svg{
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-top: -3px;
            margin-left: 5px;
        }
    }
    .error-detail, .success-message{
        opacity: 0;
        padding: 0;
        height: 0;
        @include transition;
        i{
            font-size: 120%;
            margin-left: 5px;
            color: $main-color;
        }
    }
    &.success{
        .success-message{
            height: auto;
            opacity: 1;
            margin-bottom: 15px;
            i{
                animation: shake 1.25s linear;
            }
        }
    }
    &.error{
        .error-detail{
            height: auto;
            opacity: 1;
            margin-bottom: 15px;
        }
    }
    &.loading{
        .submit{
            pointer-events: none;
            i, svg{ display: none; }
            .loader{
                content: "";
                display: block;
                position: relative;
                height: 12px;
                width: 12px;
                border: 2px solid $black;
                border-radius: 100%;
                border-right-color: transparent;
                border-top-color: transparent;
                animation: spin .5s infinite linear;
                position: absolute;
                right: -35px;
                top: 15px;
                z-index: 10;
        
            }
        }
    }
}

// Membership plans
.membership-page{
    div.left-content{ padding-right: 0; }
    div.left-content article{
        background: none;
        box-shadow: none;
        // padding: 40px 0;
    }
    .epcl-switch{
        text-align: center;
        position: relative;
        z-index: 2;
        display: flex;
        max-width: 320px;
        margin: 0 auto;
        padding: 10px 0px;
        margin-bottom: $section-padding;
        background: $white;
        border-radius: 25px;
        font-size: 20px;
        box-shadow: $large-shadow;
        border-left: 5px solid $white;
        button{
            background: none;
            text-align: center;
            width: 50%;
            color: #fff;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0px;
            top: 5px;
            bottom: 5px;
            width: 50%;
            background: $main-color;
            border-radius: 25px;
            z-index: -1;
            @include transition;
        }
        &[data-active-price="monthly"]{
            button[data-price="yearly"]{ color: $text-color; }
        }
        &[data-active-price="yearly"]{
            &:before{
                transform: translateX(97%);
            }
            button[data-price="monthly"]{ color: $text-color; }
        }
    }
    .epcl-plans{
        justify-content: center;
        align-items: flex-start;
        .epcl-price, .epcl-pay-button{ display: none; }
        &[data-active-price="monthly"]{
            .epcl-price[data-price="monthly"]{ display: block; }
            .epcl-price[data-price="free"]{ display: block; }
            .epcl-pay-button[data-price="monthly"]{ display: inline-block; }
        }
        &[data-active-price="yearly"]{
            .epcl-price[data-price="yearly"]{ display: block; }
            .epcl-price[data-price="free"]{ display: block; }
            .epcl-pay-button[data-price="yearly"]{ display: inline-block; }
        }
    }
    .subscribe-plan{
        background: #fff;
        // color: #fff;
        padding: 50px;
        text-align: center;
        border-radius: $border-radius-sections;
        color: $light-gray;
        margin-bottom: 35px;
        box-shadow: $large-shadow;
        .icon{
            svg{
                width: 50px;
                height: 50px;
                fill: $main-color;
                margin-top: -40px;
                background: #fff;
                border-radius: 50%;
                padding: 20px;
                // box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
                margin-bottom: 10px;
            }
        }
        .title{
            margin-bottom: 10px;
        }
        .description{ color: $titles-color; }
        .button{
            margin-top: 25px;
        }
        ul{
            padding: 10px 0 25px;
            margin-top: 25px;
            border-top: 1px solid $border-color;
        }
        ul li{
            text-align: left;
            font-size: 15px;
            position: relative;
            z-index: 1;
            list-style: none;
            padding-left: 20px;
            margin-top: 15px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 11px;
                width: 5px;
                height: 5px;
                background: $secondary-color;
                border-radius: 50%;
            }
            // &:last-child{ border: 0; }
        }
        .epcl-price{
            font-weight: bold;
            font-size: 55px;
            margin-bottom: 15px;
            color: $main-color;
            span{
                display: inline-block;
                font-size: 30%;
                vertical-align: baseline;
                margin-top: -3px;
                color: $titles-color;
                
            }
        }
        &.monthly{
            .cost{ color: $secondary-color; }
            .icon svg{ fill: $secondary-color; }
        }  
        &.yearly{
            .cost{ color: $text-color; }
            .icon svg{ fill: $text-color; }
        }     
        .button{
            display: block;
            width: 100%;
            box-sizing: border-box;
            font-size: 16px;
            padding: 8px 15px;
        }     
    }
    .account{
        // color: #fff;
        margin-top: 20px;
        .epcl-button{ margin-left: 10px; }
    }
}

// Account page
.account-page{
    // .content{ margin-top: 0; }
    div.left-content article{
        box-shadow: none;
        // padding-top: 0;
        // padding-bottom: 0;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .avatar{
        width: 100px;
        margin: 0 auto 25px;
        img{
            display: block;
            border-radius: 50%;
        }
    }
    .subscription{
        text-align: center;
        font-size: 13px;
        margin-bottom: 25px;
        max-width: 450px;
        margin: 0 auto 25px;
        .subscriber-detail{
            
            border-top: 1px solid $border-color;
            padding: 10px;
            text-align: left;
            label{
                display: inline-block;
                margin-right: 10px;
                min-width: 120px;
            }
            .edit-billing{ font-size: 11px; }
        }
        .description{
            font-size: 15px;
            text-align: center;
            margin-bottom: 25px;
        }
        .button{
            margin-top: 15px;
        }
        .gh-error{
            display: block;
            margin-top: 10px;
            color: $light-gray;
        }
    }
}

/* Subscribe section used on Footer and Subscribe page */

.epcl-subscribe{
    font-size: 16px;
    position: relative;
    z-index: 2;
    padding: 50px;
    margin-bottom: 20px;
    background: $white;
    box-shadow: 0px 0px 7px 0px rgba(#000, 0.07);
    .title{
        span{
            display: inline-block;
            &::first-letter{
                color: $main-color;
            }
        }
    }
    form{ 
        .form-group{
            width: 260px;
            display: inline-block;
            margin: 30px 0;
            margin-right: -5px;                
            input{
                text-align: center;
                margin: 0;
            }
        }
        .button{
            max-width: 27%;
            height: 45px;
            font-size: 15px;
            padding: 11px 25px;
        }
    }
    .title{ margin-bottom: 15px; line-height: 1; }
    .title i.fa{ margin-right: 5px; font-size: 90%; vertical-align: middle; position: relative; top: -2px; }
}

#page-subscribe{

    .epcl-subscribe{
        form{
            padding-top: 20px;
        }
        .form-group{
            display: block;
            width: auto;
            max-width: 300px;
            margin: 25px auto 0;
            input{
                text-align: left;
            }
        }
        .epcl-button{
            margin-bottom: 25px;
        }
    }
}


// Animations

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

/* @end */