.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
  padding-top: 100px;
}

.home-template {
  .site-content {
    height: 100vh;
    padding-top: 0;
  }

  .content-area,
  .site-main,
  .tag-feed,
  .owl .owl-stage-outer,
  .owl .owl-stage,
  .owl .owl-item {
    height: 100%;
  }
}