{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

</main>
</div>