.share {
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 3px;
}

.share-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--white-color);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.share-item .icon {
    font-size: 18px;
}

.share-download {
    background-color: var(--brand-color);
}

.share-facebook {
    background-color: #3b5998;
}

.share-twitter {
    background-color: #1da1f2;
}
