{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="narrow"}}
    {{/post}}

    {{#is "post"}}
        {{#if @custom.show_related_posts}}
            {{> "related-posts"}}
        {{/if}}
    {{/is}}

    {{#post}}
        {{#if comments}}
            <div class="gh-comments gh-canvas">
                <h3 class="comments-title related-title">Comments ({{comment_count empty="0" singular="" plural=""}})</h3>
                {{comments title="" count=false}}
            </div>
        {{/if}}
    {{/post}}

</main>