{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    {{#tag}}
        <section class="gh-pagehead">
            <header class="gh-pagehead-content">
                <div class="gh-tag-label">Topic</div>

                <h1 class="gh-tag-name gh-pagehead-title">{{name}}</h1>

                <div class="gh-tag-description gh-pagehead-description">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        A collection of {{plural ../pagination.total empty="0 issues" singular="% issue" plural="% issues"}}
                    {{/if}}
                </div>
            </header>
        </section>
    {{/tag}}

    <div class="gh-feed">
        {{#foreach posts}}
            {{> loop}}
        {{/foreach}}
    </div>

    <button class="gh-loadmore gh-btn">Load more issues</button>
</main>