.share {
  align-items: center;
  display: flex;
  line-height: 1;
  margin-top: 30px;
}

.share-item {
  align-items: center;
  background-color: @dark-gray-color;
  color: @white-color;
  display: flex;
  flex: 1;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  transition: background-color .2s @animation-base;

  & + & {
    margin-left: 15px;
  }

  &:hover {
    background-color: var(--primary-color);
  }
}

.share-label {
  margin-left: 5px;
}

@media (max-width: 767px) {
  .share-item {
    & + & {
      margin-left: 10px;
    }
  }
}