.gh-header {
    padding-top: 160px;
    padding-bottom: 160px;
}

.gh-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.gh-header-primary {
    font-size: 3em;
}

.gh-header-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 480px;
    height: 52px;
    padding: 0 4px 0 16px;
    margin-top: 32px;
    color: var(--color-secondary-text);
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.gh-header-input span {
    display: flex;
    align-items: center;
    height: calc(100% - 8px);
    padding: 0 12px;
    color: #fff;
    background-color: var(--ghost-accent-color);
}

.gh-header[class*="has-background"] {
    position: relative;
    margin-bottom: 80px;
    background-color: var(--ghost-accent-color);
}

.gh-header.has-background .gh-header-primary {
    color: #fff;
}

.gh-header.has-background .gh-header-input {
    border: 0;
}

.gh-header.has-background .gh-header-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
