.gh-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.gh-list + .gh-list {
    margin-top: 200px;
}

.gh-list-title {
    font-size: 2.2em;
}

.gh-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gh-list-item-title {
    font-size: 1.2em;
}

/* Grid layout */

.gh-list.grid .gh-list-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 48px;
}

/* 2-column grid layout */

.gh-list.grid:not(.magazine)[data-column="2"] .gh-list-feed {
    grid-template-columns: repeat(2, 1fr);
}

.gh-list.grid:not(.magazine)[data-column="2"] .gh-list-item-title {
    font-size: 2.6rem;
}

/* 3-column grid layout */

.gh-list.grid:not(.magazine)[data-column="3"] .gh-list-feed {
    grid-template-columns: repeat(3, 1fr);
}

/* Magazine layout */

.gh-list.grid.magazine .gh-list-item:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 4;
    gap: 48px;
    align-items: center;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-title {
    font-size: 2.6em;
}

/* Same ratio thumbnail */

.gh-list.has-same-ratio .gh-list-item-image {
    position: relative;
    aspect-ratio: 16 / 10;
}

.gh-list.has-same-ratio .gh-list-item-image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
