.gh-list + .gh-list {
    margin-top: clamp(10rem, 11.36vw + 5.45rem, 20rem);
}

.gh-list-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gh-list-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.gh-list-title {
    font-size: calc(4rem * var(--font-multiplier, 1));
}

.is-font-serif .gh-list-title {
    font-family: var(--font-serif);
}

.gh-list-item-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gh-list-item-inner:hover {
    opacity: 1;
}

.gh-list-item-title {
    font-size: calc(2rem * var(--font-multiplier, 1));
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.005em;
}

.is-font-serif .gh-list-item-title {
    font-family: var(--font-serif);
}

.gh-list-item-excerpt {
    margin-top: 16px;
}

/* Grid layout */

.gh-list.grid .gh-list-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 48px;
}

/* 2-column grid layout */

.gh-list.grid:not(.magazine)[data-column="2"] .gh-list-feed {
    grid-template-columns: repeat(2, 1fr);
}

.gh-list.grid:not(.magazine)[data-column="2"] .gh-list-item-title {
    font-size: 2.6rem;
}

/* 3-column grid layout */

.gh-list.grid:not(.magazine)[data-column="3"] .gh-list-feed {
    grid-template-columns: repeat(3, 1fr);
}

/* Magazine layout */

.gh-list.grid.magazine .gh-list-item:first-child {
    grid-column: span 4;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    align-items: center;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-title {
    font-size: calc(4.8rem * var(--font-multiplier, 1));
    line-height: 1.1;
}

/* Same ratio thumbnail */

.gh-list.has-same-ratio .gh-list-item-image {
    position: relative;
    aspect-ratio: 16 / 10;
}

.gh-list.has-same-ratio .gh-list-item-image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
