@import "@tryghost/shared-theme-assets/assets/css/v2/screen.css";

:root {
    --font-serif: Cormorant, serif;
}

body {
    background-color: var(--background-color);
}

.is-font-serif {
    --font-multiplier: 1.15;
}

.is-font-serif .gh-head-menu {
    font-weight: 600;
}

.is-font-serif .gh-head-btn {
    border-radius: 0;
}

.is-font-serif .gh-header-input,
.is-font-serif .gh-header-input span {
    border-radius: 0;
}

.gh-cta-inner {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.is-font-serif .gh-cta-input,
.is-font-serif .gh-cta-input span {
    border-radius: 0;
}
