@import "@tryghost/shared-theme-assets/assets/css/v2/screen.css";

:root {
    --font-serif: Cormorant, serif;
    --font-sans-serif: Poppins, sans-serif;
}

body {
    background-color: var(--background-color);
}

body.is-font-sans {
    font-family: var(--font-sans-serif);
}

.is-font-serif {
    --font-multiplier: 1.15;
}

/* Navbar */

.is-font-serif .gh-head-menu {
    font-weight: 600;
}

.is-font-serif .gh-head-btn {
    font-family: var(--font-serif);
    font-size: 1.85rem;
    font-weight: 700;
    border-radius: 0;
}

.gh-header {
    padding-top: clamp(8rem, 13.64vw + 3.6rem, 20rem);
    padding-bottom: clamp(8rem, 13.64vw + 3.6rem, 20rem);
    border: none !important;
}

.gh-header.has-background-image {
    padding-top: clamp(8rem, 13.64vw + 5rem, 30rem);
    padding-bottom: clamp(8rem, 13.64vw + 5rem, 30rem);
}

.gh-header-content {
    max-width: 1080px;
}

.is-font-serif .gh-header-primary {
    line-height: 1em;
}

.gh-header-primary {
    font-size: calc(clamp(4rem, 2.05vw + 3.4rem, 6.4rem) *var(--font-multiplier, 1));
}

.gh-header-input {
    max-width: 560px;
    height: 68px;
    padding-left: 24px;
}

.is-font-serif .gh-header-input {
    font-family: var(--font-serif);
    font-size: 2.2rem;
}

.is-font-serif .gh-header-input span {
    font-weight: 700;
}

.is-font-serif .gh-header-input,
.is-font-serif .gh-header-input span {
    border-radius: 0;
}

/* Post list */

.gh-main .gh-list:first-child {
    margin-top: 60px;
}

.gh-list {
    text-align: center;
}

.gh-list-header {
    flex-direction: column;
    align-items: center;
}

.gh-list-title {
    font-size: 3.8rem;
    color: var(--ghost-accent-color);
}

.gh-list-item-primary-tag {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--ghost-accent-color) !important;
}

.gh-list-action {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
}

.is-font-sans .gh-list-item-image img {
    border-radius: 16px;
}

.gh-list.grid:not(.magazine)[data-column="3"] .gh-list-feed {
    grid-template-columns: repeat(4, 1fr);
}

.gh-list.grid:not(.magazine)[data-column="3"] .gh-list-item:nth-child(4) {
    display: none;
}

.gh-list.grid:not(.magazine)[data-column="3"] .gh-list-item:nth-child(2) {
    grid-column: span 2;
}

.gh-list.grid:not(.magazine)[data-column="3"] .gh-list-item:nth-child(2) .gh-list-item-title {
    --font-multiplier: 1.4;
}

.gh-list.grid.magazine .gh-list-item:not(:first-child) .gh-list-item-excerpt {
    display: none;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-inner {
    align-items: center;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-content {
    max-width: 520px;
    padding: 0 30px;
    margin: 0 auto;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-title {
    font-size: 5.8rem;
    line-height: 1;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-excerpt {
    font-size: 1.6rem;
}

.gh-list .gh-list-item-image {
    aspect-ratio: unset;
}

.gh-list .gh-list-item-image img {
    position: unset;
    height: unset;
    object-fit: unset;
}

/* Article */

.gh-article-header {
    text-align: center;
}

.gh-article-meta {
    justify-content: center;
}

.gh-article-meta-tag {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--ghost-accent-color);
}

/* CTA */

.gh-cta-inner {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.is-font-serif .gh-cta-input,
.is-font-serif .gh-cta-input span {
    border-radius: 0;
}

.is-font-serif .gh-cta-input {
    font-family: var(--font-serif);
    font-size: 1.9rem;
}

.is-font-serif .gh-cta-input span {
    font-weight: 700;
}

/* Archive */

.is-font-sans .tag-template .gh-archive-image img {
    border-radius: 16px;
}
