@import "@tryghost/shared-theme-assets/assets/css/v2/screen.css";

@font-face {
    font-family: "Mona Sans";
    font-weight: 200 900;
    font-stretch: 80% 125%;
    src:
        url("/assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
        url("/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
}

:root {
    --font-sans: "Mona Sans", sans-serif;
}

body {
    font-variation-settings: "wdth" 110;
    background-color: var(--background-color);
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) {
    font-variation-settings: "wdth" 100;
}

.gh-inner {
    --container-width: 960px;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-variation-settings: "wdth" 125;
    font-weight: 800;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) :is(h1, h2, h3, h4, h5, h6) {
    font-variation-settings: "wdth" 80;
    font-weight: 600;
}

.gh-btn {
    --multiplier: 1.2;

    border-radius: 0;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-btn {
    --multiplier: 0.85;

    font-size: 1.9rem;
    font-variation-settings: "wdth" 80;
}

/* Navbar */

.gh-head-logo {
    margin-top: -3px;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-head-logo {
    font-size: 2.8rem;
    font-variation-settings: "wdth" 80;
}

@media (max-width: 767px) {
    #gh-head a:not(.gh-primary-btn) {
        color: var(--color-black);
    }

    #gh-head.is-head-open .gh-search {
        color: var(--color-black);
    }

    #gh-head.is-head-open .gh-burger::after,
    #gh-head.is-head-open .gh-burger::before {
        background-color: var(--color-black);
    }
}

/* Header */

.gh-header {
    justify-content: flex-end;
    margin-bottom: 0 !important;
    border: 0 !important;
}

.gh-header.has-background-image {
    min-height: var(--header-height, calc(100vh - var(--services-height, 177px)));
    padding-bottom: clamp(3.2rem, 3.64vw + 1.75rem, 6.4rem);
}

.gh-header.has-background-image::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent, rgba(0, 0, 0, 0.6));
    opacity: 1;
}

.gh-header-inner {
    max-width: unset;
    padding: 0 5vw;
}

.gh-header-inner .gh-header-secondary {
    max-width: 840px;
}

.gh-header-content {
    max-width: unset;
    word-break: break-word;
}

.gh-header-primary {
    font-size: calc(clamp(3rem, 5.4vh + 1.2rem, 7.2rem) * var(--font-multiplier, 1));
    line-height: 1.1;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-header-primary {
    --font-multiplier: 1.3;

    font-weight: 600;
    line-height: 1.05;
    letter-spacing: -0.02em;
}

@media (max-width: 767px) {
    .gh-header.has-background-image {
        min-height: unset;
        aspect-ratio: 1;
    }

    .gh-header-primary {
        font-size: calc(2.8rem*var(--font-multiplier, 1));
    }

    .gh-header-secondary {
        --font-multiplier: 0.65;
    }

    .gh-header-primary + .gh-header-secondary {
        margin-top: 12px;
    }

    .gh-archive-title {
        font-size: calc(2.2rem*var(--font-multiplier, 1));
    }
}

/* Podcast services */

.gh-podcast-service-list {
    display: flex;
    gap: 64px;
    justify-content: center;
    padding: 64px 0;
    background-color: #15171a;
}

.gh-podcast-service-list a {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 48px auto;
    column-gap: 16px;
    font-weight: 500;
    color: #fff;
}

.gh-podcast-service-list svg {
    grid-row: -1 / 1;
    width: 48px;
    height: 48px;
}

.gh-podcast-service-list svg + span {
    margin-top: 2px;
    font-size: 1.2rem;
}

.gh-podcast-service-list span + span {
    font-size: 1.8rem;
    font-weight: 600;
}

@media (max-width: 767px) {
    .gh-podcast-service-list {
        gap: 40px;
        padding: 32px 0;
    }

    .gh-podcast-service-list a {
        display: block;
        font-size: 0;
    }

    .gh-podcast-service-list svg {
        width: 40px;
        height: 40px;
    }

    .gh-podcast-service-list span {
        display: none;
    }
}

/* Post list */

.gh-list-item-inner {
    gap: 40px !important;
    padding: 24px;
    border: 4px solid var(--color-darker-gray);
}

.has-light-text .gh-list-item-inner {
    border-color: rgba(255, 255, 255, 0.3);
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-list-item-inner {
    border-width: 2px;
}

.gh-list-item-image {
    flex: unset !important;
    width: 260px;
    aspect-ratio: 1;
}

.gh-list-item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.gh-list-item-published-at {
    order: -1;
    margin-bottom: 12px;
}

.gh-list-item-published-at::before {
    display: none;
}

.gh-list-item-title {
    --font-multiplier: 0.9;

    font-weight: 800;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-list-item-title {
    --font-multiplier: 1.3;

    font-weight: 650;
    line-height: 1.05;
}

.gh-list-item-excerpt {
    display: -webkit-box;
    margin-top: 10px;
    overflow-y: hidden;
    font-weight: 500;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.gh-list-item-content::before {
    position: absolute;
    top: calc(100% - 40px);
    left: 16px;
    z-index: 10;
    font-size: 0;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32' style='margin-top: 3px' fill='#fff'%3E%3Cpath d='M10.667 6.853v18.667l14.667-9.333-14.667-9.333z'%3E%3C/path%3E%3C/svg%3E");
}

.gh-list-item-content::after {
    position: absolute;
    top: calc(100% - 48px);
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 24px 0 44px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    content: "View episode";
    background-color: var(--ghost-accent-color);
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-list-item-content::after {
    font-size: 1.8rem;
    font-variation-settings: "wdth" 80;
}

.gh-more {
    margin-top: 48px;
    font-size: 2.4rem;
    font-weight: 700;
}

@media (max-width: 767px) {
    .gh-list-item-image {
        width: 100%;
    }
}

/* CTA */

.gh-cta-inner {
    padding-right: clamp(0rem, 7.27vw + -2.91rem, 6.4rem);
    padding-left: clamp(0rem, 7.27vw + -2.91rem, 6.4rem);
    border-top: 4px solid var(--color-darker-gray);
    border-bottom: 4px solid var(--color-darker-gray);
}

.has-light-text .gh-cta-inner {
    border-color: rgba(255, 255, 255, 0.3);
}

.gh-cta-title {
    --font-multiplier: 1.3;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-cta-title {
    --font-multiplier: 1.6;

    font-weight: 600;
}

.gh-cta-input {
    height: 60px;
    padding-right: 0;
    border-radius: 0;
}

.gh-cta-input span {
    height: 100%;
    padding: 0 24px;
    border-radius: 0;
}

.is-font-narrow:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]):not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-cta-input span {
    font-size: 1.8rem;
    font-variation-settings: "wdth" 80;
}

/* Archive */

.gh-archive {
    margin-bottom: 48px;
}

.gh-podcast-service-list + .gh-archive {
    margin-top: clamp(6.4rem, 4.09vw + 4.76rem, 10rem);
}
