.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#announcement-bar-root:not(:empty) + .site .site-content {
    padding-top: 148px;
}

.site-content {
    flex-grow: 1;
    padding-top: 100px;
}

.home-template .site-content {
    padding-top: 0;
}

.home-template .content-area,
.home-template .site-main,
.home-template .tag-feed,
.home-template .owl .owl-stage-outer,
.home-template .owl .owl-stage,
.home-template .owl .owl-item {
    height: 100%;
}
