.gh-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-white);
    letter-spacing: inherit;
    cursor: pointer;
    background-color: var(--color-darker-gray);
    border: 0;
    border-radius: 100px;
}

.gh-primary-btn {
    background-color: var(--ghost-accent-color);
}

.gh-outline-btn {
    color: var(--color-darker-gray);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--color-light-gray);
}

.gh-outline-btn:hover {
    border-color: var(--color-mid-gray);
    opacity: 1;
}

.gh-icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    color: var(--darker-gray-color);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}

.gh-icon-btn svg {
    width: 20px;
    height: 20px;
}
