.u-shadow {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--shadow-base);
    transition: box-shadow 0.3s var(--animation-base);
}

.u-shadow:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.u-plain-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.u-placeholder {
    position: relative;
    z-index: 10;
    background-color: var(--light-gray-color);
}

.u-placeholder.same-height {
    height: 0;
}

.u-placeholder.rectangle {
    padding-bottom: 56.25%;
}

.u-object-fit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-permalink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    outline: none;
}

.u-hover-item {
    transition: opacity 0.3s var(--animation-base);
}

.u-hover-wrapper:hover .u-hover-item {
    opacity: 0.5;
}

.u-hover-wrapper:hover .u-hover-item:hover {
    opacity: 1;
}

.u-text-format h1,
.u-text-format h2,
.u-text-format h3,
.u-text-format h4,
.u-text-format h5,
.u-text-format h6 {
    margin-top: 40px;
    font-weight: 800;
}

.u-text-format h1 {
    font-size: 26px;
}

.u-text-format h2 {
    font-size: 23px;
}

.u-text-format h3 {
    font-size: 20px;
}

.u-text-format h4 {
    font-size: 17px;
    font-weight: 700;
}

.u-text-format h5 {
    font-size: 15px;
    font-weight: 700;
}

.u-text-format h6 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.u-text-format strong {
    color: var(--dark-gray-color);
}

.u-text-format a {
    color: var(--primary-color);
}

.u-text-format > *:first-child,
.u-text-format > *:first-child > *:first-child {
    margin-top: 0 !important;
}

.u-text-format > *:last-child,
.u-text-format > *:last-child > *:last-child {
    margin-bottom: 0 !important;
}
