.post-feed {
  .post {
    display: flex;

    & + .post {
      margin-top: 45px;
    }
  }

  .post-excerpt {
    margin-top: 15px;
  }

  .post-footer {
    align-items: center;
    display: flex;
    margin-top: 15px;
  }
  
  .post-footer-download {
    margin-left: 12px;
    margin-top: -1px;
  }
}

@media (max-width: 767px) {
  .post-feed {
    .post + .post {
      margin-top: 35px;
    }

    .post-media {
      margin-right: 20px;
      width: 80px;

      .button-play {
        height: 34px;
        margin-left: -17px;
        margin-top: -17px;
        width: 34px;
      }

      .letter {
        display: none;
      }
    }

    .post-excerpt {
      display: none;
    }
  }
}