@import "@tryghost/shared-theme-assets/assets/css/v2/screen.css";

:root {
    --font-sans: Epilogue, sans-serif;
    --font-serif: Marcellus, serif;
    --container-width: 1360px;
    --color-secondary-text: #666;
}

/* @media (min-width: 992px) {
    .is-head-stacked .gh-head-actions {
        grid-row-start: 2;
    }
} */

.gh-btn {
    border-radius: 4px;
}

/* Navbar */

.gh-head-link, .gh-head-btn.gh-btn, .gh-head-menu {
    /* font-family: var(--font-serif); */
    font-size: 1.4rem;
    /* font-weight: 400; */
    font-weight: 500;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    /* -webkit-font-smoothing: subpixel-antialiased; */
}

.gh-head .nav {
    gap: 40px;
}

.gh-head-link {
    margin-top: 2px;
}

.gh-head-btn.gh-btn {
    --multiplier: 1.3;

    padding: 14px 18px 12px;
}

.gh-head-logo {
    font-weight: 900;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .is-head-stacked .gh-head-menu {
        height: 72px;
    }

    .is-head-stacked .gh-head-menu::after {
        opacity: 0;
    }
}

/* List */

.gh-list-item-inner {
    position: relative;
    flex-direction: row-reverse !important;
    align-items: flex-start !important;
    padding-top: 40px;
}

.gh-list-item-primary-tag {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    /* font-weight: 700; */
    font-weight: 600;
    color: var(--ghost-accent-color);
}

.gh-list-item-primary-tag::after {
    flex-grow: 1;
    height: 1px;
    margin-left: 1.6rem;
    content: "";
    background-color: var(--color-light-gray);
}

.gh-list-item-title {
    /* font-family: var(--font-serif); */
    /* font-size: 2.4rem; */
    font-size: 2.3rem;
    /* font-weight: 400; */
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.01em;
    /* -webkit-font-smoothing: subpixel-antialiased; */
}

.gh-list-item-excerpt {
    margin-top: 8px;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

/* Featured posts */

.gh-list.grid.magazine {
    margin-top: 48px;
}

.gh-list.grid.magazine .gh-list-feed {
    grid-template-columns: repeat(12, 1fr);
    row-gap: 32px;
}

.gh-list.grid.magazine .gh-list-item:first-child {
    grid-row: span 4;
    grid-column: span 7;
}

.gh-list.grid.magazine .gh-list-item:not(:first-child) {
    grid-column: 8 / -1;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-inner {
    grid-template-columns: 1fr;
    gap: 32px;
}

.gh-list.grid.magazine .gh-list-item:not(:first-child) .gh-list-item-image {
    flex-shrink: 0;
    width: 136px;
    aspect-ratio: 1;
}

.gh-list.grid.magazine .gh-list-item:first-child .gh-list-item-excerpt {
    margin-top: 16px;
    font-size: 1.8rem;
}

/* CTA */

.gh-cta {
    margin-top: 120px;
}

.gh-cta-inner {
    align-items: flex-start;
    padding: clamp(4.8rem, 3.64vw + 3.35rem, 8rem);
    background-color: #e6f0e0;
    border-radius: 8px;
}

.gh-cta-input {
    height: 60px;
    padding-right: 0;
    font-size: 1.8rem;
    background-color: var(--color-white);
    border-radius: 4px;
}

.gh-cta-input span {
    height: 100%;
    padding: 0 24px;
    font-size: 1.6rem;
    line-height: 1.1;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
}

/* Homepage */

.gh-home {
    margin-top: 120px;
}

.gh-home-inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 64px;
}

.gh-latest {
    grid-column: span 7;
}

.gh-latest-title {
    margin-bottom: 48px;
}

.gh-latest .gh-list.simple .gh-list-feed {
    gap: 40px;
}

.gh-latest .gh-list.simple .gh-list-item-inner > * {
    flex: auto;
}

.gh-latest .gh-list.simple .gh-list-item-image {
    flex-shrink: 0;
    width: 240px;
}

.gh-latest .gh-list.simple .gh-list-item-title {
    --font-multiplier: 0.75;
}

.gh-latest .gh-list.simple .gh-list-item-excerpt {
    margin-top: 12px;
}

.gh-more {
    margin-top: 32px;
}

.gh-more a {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--ghost-accent-color);
}

.gh-sidebar {
    grid-column: 8 / -1;
    padding-left: 48px;
}

.gh-sidebar .gh-cta {
    position: sticky;
    top: 56px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.has-sticky-cta .gh-sidebar .gh-cta {
    opacity: 1;
}

.gh-sidebar .gh-cta-inner {
    padding: 48px;
    padding-bottom: 112px;
    text-align: left;
}

.gh-sidebar .gh-cta-title {
    font-size: 2.4rem;
}

.gh-sidebar .gh-cta-input {
    position: relative;
    height: 48px;
    font-size: 1.7rem;
}

.gh-sidebar .gh-cta-input span {
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    width: 100%;
    height: 48px;
    font-size: 1.4rem;
    border-radius: 4px;
}
