.gh-article {
    padding: 8vmin 0;
}

.gh-article-tag {
    color: var(--ghost-accent-color);
}

.gh-article-excerpt {
    margin-top: 2rem;
    font-size: 2.1rem;
    line-height: 1.55;
    color: var(--color-secondary-text);
    letter-spacing: -0.01em;
}

.gh-article-image {
    grid-column: wide-start/wide-end;
    margin-top: max(4.8vmin, 3rem);
}
