.gh-article {
    padding: 8vmin 0;
}

.gh-article-tag {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-article-excerpt {
    margin-top: 2.4rem;
    font-size: 1.9rem;
    line-height: 1.55;
    color: var(--color-secondary-text);
}

.gh-article-image {
    grid-column: wide-start/wide-end;
    margin-top: max(6vmin, 3rem);
}

@media (max-width: 767px) {
    .gh-article-excerpt {
        font-size: var(--content-font-size, 2rem);
    }
}
