.gh-head {
    background-color: var(--color-white);
}

.gh-head-inner {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-auto-flow: row dense;
    column-gap: var(--head-nav-gap);
    align-items: center;
    padding: 3.2rem 0;
}

.gh-head-brand {
    line-height: 1;
}

.gh-head-brand-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
}

.gh-head-logo {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.gh-head-logo img {
    max-height: 32px;
}

.gh-head-menu {
    display: flex;
    align-items: center;
}

.nav {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.gh-head .nav li + li {
    margin-left: var(--head-nav-gap);
}

.gh-head-actions {
    display: flex;
    gap: var(--head-nav-gap);
    align-items: center;
    justify-content: flex-end;
}

.gh-head-btn.gh-btn {
    padding: 0.9rem 1.4rem;
    font-size: 1.5rem;
}

.gh-head-btn:not(.gh-btn) {
    display: inline-flex;
    align-items: center;
    color: var(--ghost-accent-color);
}

.gh-search {
    margin-right: -6px;
    margin-left: -6px;
}

.gh-search:hover {
    opacity: 0.9;
}

.gh-head-brand .gh-search {
    margin-right: 8px;
}

@media (max-width: 991px) {
    .gh-head-actions .gh-search {
        display: none;
    }
}

@media (min-width: 992px) {
    .gh-head-brand .gh-search {
        display: none;
    }
}

/* Header variants
/* ---------------------------------------------------------- */

/*
======================================================================
LOGO        Home About Collection Author Portal        Login Subscribe
======================================================================
*/

.is-head-b--n--a .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

/*
======================================================================
LOGO                               Home About Collection Author Portal
======================================================================
*/

.is-head-b--n .gh-head-inner {
    grid-template-columns: 1fr auto;
}

/*
======================================================================
LOGO  Home About Collection Author Portal              Login Subscribe
======================================================================
*/

.is-head-b-n--a .gh-head-inner {
    grid-template-columns: auto auto 1fr;
}

/*
======================================================================
Home About Collection            LOGO                  Login Subscribe
======================================================================
*/

.is-head-n--b--a .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.is-head-n--b--a .gh-head-brand {
    grid-column-start: 2;
}

/*
======================================================================
LOGO                                                   Login Subscribe
Home About Collection Author Portal
======================================================================
*/

.is-head-b--a_n .gh-head-inner {
    grid-template-columns: auto 1fr;
    row-gap: 1.6rem;
}

.is-head-b--a_n .gh-head-menu {
    grid-row-start: 2;
}

/*
======================================================================
                                LOGO
                 Home About Collection Author Portal
======================================================================
*/

.is-head-b_n .gh-head-inner {
    grid-template-columns: auto;
    row-gap: 2.4rem;
    justify-content: center;
    height: auto;
    padding: 3.2rem 0;
    text-align: center;
}

.is-head-b_n .gh-head-logo img {
    margin: 0 auto;
}

.is-head-b_n .gh-head-actions {
    display: none;
}

/* Transparent header
/* ---------------------------------------------------------- */

.is-head-transparent .gh-head {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 90;
    background-color: transparent;
}

.is-head-transparent .gh-head-logo,
.is-head-transparent .gh-head .nav a,
.is-head-transparent .gh-head-description,
.is-head-transparent .gh-search {
    color: var(--color-white);
}

.is-head-transparent .gh-burger::before,
.is-head-transparent .gh-burger::after {
    background-color: var(--color-white);
}

.is-head-transparent .gh-head-btn {
    color: var(--color-darker-gray);
    background-color: var(--color-white);
}

.is-head-transparent .gh-head-menu::before,
.is-head-transparent .gh-head-menu::after {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dark header
/* ---------------------------------------------------------- */

.is-head-dark:not(.is-head-transparent) .gh-head {
    background-color: var(--color-darker-gray);
}

.is-head-dark:not(.is-head-transparent) .gh-head-logo,
.is-head-dark:not(.is-head-transparent) .gh-head .nav a,
.is-head-dark:not(.is-head-transparent) .gh-head-description,
.is-head-dark:not(.is-head-transparent) .gh-search {
    color: var(--color-white);
}

.is-head-dark:not(.is-head-transparent) .gh-burger::before,
.is-head-dark:not(.is-head-transparent) .gh-burger::after {
    background-color: var(--color-white);
}

.is-head-dark:not(.is-head-transparent) .gh-head-btn {
    color: var(--color-darker-gray);
    background-color: #fff;
}

.is-head-dark:not(.is-head-transparent) .gh-head-menu::before,
.is-head-dark:not(.is-head-transparent) .gh-head-menu::after {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Brand header
/* ---------------------------------------------------------- */

.is-head-brand:not(.is-head-transparent) .gh-head {
    background-color: var(--ghost-accent-color);
}

.is-head-brand:not(.is-head-transparent) .gh-head-logo,
.is-head-brand:not(.is-head-transparent) .gh-head .nav a,
.is-head-brand:not(.is-head-transparent) .gh-head-description,
.is-head-brand:not(.is-head-transparent) .gh-search {
    color: var(--color-white);
}

.is-head-brand:not(.is-head-transparent) .gh-burger::before,
.is-head-brand:not(.is-head-transparent) .gh-burger::after {
    background-color: var(--color-white);
}

.is-head-brand:not(.is-head-transparent) .gh-head-btn {
    color: var(--color-darker-gray);
    background-color: #fff;
}

.is-head-brand:not(.is-head-transparent) .gh-head-menu::before,
.is-head-brand:not(.is-head-transparent) .gh-head-menu::after {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Mobile menu
/* ---------------------------------------------------------- */

.gh-burger {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: -3px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    appearance: none;
}

.gh-burger::before,
.gh-burger::after {
    position: absolute;
    left: 3px;
    width: 24px;
    height: 1px;
    content: "";
    background-color: var(--color-darker-gray);
    transition: all 0.2s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.gh-burger::before {
    top: 11px;
}

.gh-burger::after {
    bottom: 11px;
}

.is-head-open .gh-burger::before {
    top: 15px;
    transform: rotate(45deg);
}

.is-head-open .gh-burger::after {
    bottom: 14px;
    transform: rotate(-45deg);
}

@media (max-width: 767px) {
    #gh-head .gh-head-inner {
        padding: 2rem 0;
    }
}

@media (max-width: 991px) {
    #gh-head .gh-head-inner {
        grid-template-columns: 1fr;
    }

    #gh-head .gh-head-brand {
        display: flex;
        grid-column-start: 1;
        align-items: center;
        justify-content: space-between;
    }

    .gh-burger {
        display: block;
    }

    #gh-head .gh-head-menu,
    #gh-head .gh-head-actions {
        display: none;
    }

    #gh-head .nav a {
        font-size: 2.4rem;
    }

    #gh-head .nav li + li {
        margin-top: 1.2rem;
        margin-left: 0;
    }

    #gh-head .gh-head-actions {
        text-align: center;
    }

    #gh-head .gh-head-btn {
        margin-top: 3.2rem;
        margin-left: 0;
    }

    #gh-head .gh-head-btn:not(.gh-btn) {
        font-size: 2rem;
    }

    .is-head-open #gh-head {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3999999;
        padding: 0 var(--gap) 2.4rem;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .is-head-open:not(.is-head-brand):not(.is-head-dark):not(.is-head-transparent) #gh-head {
        background-color: var(--color-white);
    }

    .is-head-open #gh-head .gh-head-inner {
        grid-template-rows: auto 1fr auto;
        height: 100%;
    }

    .is-head-open #gh-head .gh-head-menu {
        display: block;
    }

    .is-head-open #gh-head .gh-head-actions {
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .is-head-open #gh-head .nav {
        display: flex;
        flex-direction: column;
    }

    .is-head-open.is-head-transparent #gh-head {
        background-color: var(--ghost-accent-color);
    }
}
