.gh-head-inner {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    height: 80px;
    column-gap: 2.4rem;
    grid-auto-flow: row dense;
}

.gh-head-logo {
    font-size: 2.4rem;
    font-weight: 800;
}

.gh-head .nav {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gh-head .nav li + li {
    margin-left: 2.4rem;
}

.gh-head-actions {
    text-align: right;
}

.header-b--n--a .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.header-b-n--a .gh-head-inner {
    grid-template-columns: auto auto 1fr;
}

.header-n--b--a .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.header-n--b--a .gh-head-brand {
    grid-column-start: 2;
}

.header-b--a_n .gh-head-inner {
    padding: 2.4rem 0;
    height: auto;
    grid-template-columns: auto 1fr;
    row-gap: 1.6rem;
}

.header-b--a_n .gh-head-menu {
    grid-row-start: 2;
}

.header-b_n .gh-head-inner {
    justify-content: center;
    padding: 2.4rem 0;
    height: auto;
    text-align: center;
    grid-template-columns: auto;
    row-gap: 1.6rem;
}

.header-b_n .gh-head-actions {
    display: none;
}
