.gh-head {
    height: 100px;
    background-color: var(--color-white);
}

.gh-head-inner {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-auto-flow: row dense;
    column-gap: var(--head-nav-gap);
    align-items: center;
    height: 100%;
}

.gh-head-brand {
    line-height: 1;
}

.gh-head-brand-wrapper {
    display: flex;
    align-items: center;
}

.gh-head-logo {
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.gh-head-logo img {
    max-height: 40px;
}

.gh-head-logo img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.gh-head-menu {
    display: flex;
    gap: var(--head-nav-gap);
    align-items: center;
}

.gh-head .nav {
    display: inline-flex;
    gap: var(--head-nav-gap);
    align-items: center;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    list-style: none;
}

.gh-head .nav-more-toggle {
    position: relative;
    margin: 0 -6px;
    font-size: inherit;
    text-transform: inherit;
}

.gh-head .nav-more-toggle svg {
    width: 24px;
    height: 24px;
}

.gh-head-actions {
    display: flex;
    gap: var(--head-nav-gap);
    align-items: center;
    justify-content: flex-end;
}

.gh-head-btn.gh-btn {
    font-size: inherit;
    font-weight: 600;
}

.gh-head-btn:not(.gh-btn) {
    display: inline-flex;
    align-items: center;
    color: var(--ghost-accent-color);
}

.gh-head-btn svg {
    width: 1.3em;
    height: 1.3em;
}

.gh-search {
    margin-right: -6px;
    margin-left: -6px;
}

.gh-search:hover {
    opacity: 0.9;
}

.gh-head-brand .gh-search {
    margin-right: 8px;
}

@media (max-width: 991px) {
    .gh-head-actions .gh-search {
        display: none;
    }
}

@media (min-width: 992px) {
    .gh-head-brand .gh-search {
        display: none;
    }
}

/* Header variants
/* ---------------------------------------------------------- */

/*
======================================================================
LOGO        Home About Collection Author Portal        Login Subscribe
======================================================================
*/

.is-head-b--n--a .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.is-head-left-logo .gh-head-inner {
    grid-template-columns: auto 1fr auto;
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        margin-right: 32px;
        margin-left: 16px;
    }
}

/*
======================================================================
LOGO                               Home About Collection Author Portal
======================================================================
*/

.is-head-b--n .gh-head-inner {
    grid-template-columns: 1fr auto;
}

/*
======================================================================
LOGO  Home About Collection Author Portal              Login Subscribe
======================================================================
*/

.is-head-b-n--a .gh-head-inner {
    grid-template-columns: auto auto 1fr;
}

/*
======================================================================
Home About Collection            LOGO                  Login Subscribe
======================================================================
*/

.is-head-n--b--a .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.is-head-n--b--a .gh-head-brand {
    grid-column-start: 2;
}

.is-head-middle-logo .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.is-head-middle-logo .gh-head-brand {
    grid-column-start: 2;
}

.is-head-middle-logo .gh-head-actions {
    gap: 28px;
}

@media (min-width: 992px) {
    .is-head-middle-logo .gh-head-menu {
        margin-right: 64px;
    }
}

/*
======================================================================
LOGO                                                   Login Subscribe
Home About Collection Author Portal
======================================================================
*/

.is-head-b--a_n .gh-head-inner {
    grid-template-columns: auto 1fr;
    row-gap: 1.6rem;
}

.is-head-b--a_n .gh-head-menu {
    grid-row-start: 2;
}

.is-head-stacked .gh-head {
    height: auto;
}

.is-head-stacked .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.is-head-stacked .gh-head-brand {
    grid-row-start: 1;
    grid-column-start: 2;
}

@media (min-width: 992px) {
    .is-head-stacked .gh-head-inner {
        padding: 0;
    }

    .is-head-stacked .gh-head-brand {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .is-head-stacked .gh-head-menu {
        grid-row-start: 2;
        grid-column: 1 / 4;
        justify-content: center;
        height: 56px;
        margin: 0 48px;
    }

    .is-head-stacked .gh-head-menu::before,
    .is-head-stacked .gh-head-menu::after {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: var(--color-light-gray);
    }

    .is-head-stacked .gh-head-menu::after {
        top: 136px;
    }

    .is-head-stacked .gh-head-actions {
        grid-row-start: 1;
        grid-column: 1 / 4;
        justify-content: space-between;
    }
}

/*
======================================================================
                                LOGO
                 Home About Collection Author Portal
======================================================================
*/

.is-head-b_n .gh-head-inner {
    grid-template-columns: auto;
    row-gap: 2.4rem;
    justify-content: center;
    height: auto;
    padding: 3.2rem 0;
    text-align: center;
}

.is-head-b_n .gh-head-logo img {
    margin: 0 auto;
}

.is-head-b_n .gh-head-actions {
    display: none;
}

/* Transparent header
/* ---------------------------------------------------------- */

.is-head-transparent .gh-head {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 90;
    background-color: transparent;
}

.is-head-transparent .gh-head-logo,
.is-head-transparent .gh-head .nav > li a,
.is-head-transparent .gh-head-description,
.is-head-transparent .gh-search,
.is-head-transparent .gh-social,
.is-head-transparent .nav-more-toggle {
    color: var(--color-white);
}

.is-head-transparent .gh-burger::before,
.is-head-transparent .gh-burger::after {
    background-color: var(--color-white);
}

.is-head-transparent .gh-head-btn {
    color: #15171a;
    background-color: #fff;
}

.is-head-transparent .gh-head-menu::before,
.is-head-transparent .gh-head-menu::after {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dark header
/* ---------------------------------------------------------- */

.is-head-dark:not(.is-head-transparent) .gh-head {
    background-color: var(--color-darker-gray);
}

.is-head-dark:not(.is-head-transparent) .gh-head-logo,
.is-head-dark:not(.is-head-transparent) .gh-head .nav a,
.is-head-dark:not(.is-head-transparent) .gh-head-description,
.is-head-dark:not(.is-head-transparent) .gh-search,
.is-head-dark:not(.is-head-transparent) .gh-social,
.is-head-dark:not(.is-head-transparent) .nav-more-toggle {
    color: var(--color-white);
}

.is-head-dark:not(.is-head-transparent) .gh-burger::before,
.is-head-dark:not(.is-head-transparent) .gh-burger::after {
    background-color: var(--color-white);
}

.is-head-dark:not(.is-head-transparent) .gh-head-btn {
    color: #15171a;
    background-color: #fff;
}

.is-head-dark:not(.is-head-transparent) .gh-head-menu::before,
.is-head-dark:not(.is-head-transparent) .gh-head-menu::after {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Brand header
/* ---------------------------------------------------------- */

.is-head-brand:not(.is-head-transparent) .gh-head {
    background-color: var(--ghost-accent-color);
}

.is-head-brand:not(.is-head-transparent) .gh-head-logo,
.is-head-brand:not(.is-head-transparent) .gh-head .nav a,
.is-head-brand:not(.is-head-transparent) .gh-head-description,
.is-head-brand:not(.is-head-transparent) .gh-search,
.is-head-brand:not(.is-head-transparent) .gh-social,
.is-head-brand:not(.is-head-transparent) .nav-more-toggle {
    color: var(--color-white);
}

.is-head-brand:not(.is-head-transparent) .gh-burger::before,
.is-head-brand:not(.is-head-transparent) .gh-burger::after {
    background-color: var(--color-white);
}

.is-head-brand:not(.is-head-transparent) .gh-head-btn {
    color: #15171a;
    background-color: #fff;
}

.is-head-brand:not(.is-head-transparent) .gh-head-menu::before,
.is-head-brand:not(.is-head-transparent) .gh-head-menu::after {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Dropdown menu
/* ---------------------------------------------------------- */

.gh-dropdown {
    position: absolute;
    top: 100%;
    right: -16px;
    z-index: 90;
    display: none;
    width: 200px;
    padding: 12px 0;
    margin-top: 20px;
    text-align: left;
    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 7px 20px -5px rgba(0, 0, 0, 0.15);
    transform: translateZ(0);
}

.is-head-middle-logo .gh-dropdown {
    right: auto;
    left: -24px;
}

.is-dropdown-mega .gh-dropdown {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 40px;
    width: auto;
    padding: 20px 32px;
}

.gh-dropdown li a {
    display: block;
    padding: 6px 20px;
    color: #15171a !important;
}

.is-dropdown-mega .gh-dropdown li a {
    padding: 8px 0;
}

/* Mobile menu
/* ---------------------------------------------------------- */

.gh-burger {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: -3px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    appearance: none;
}

.gh-burger::before,
.gh-burger::after {
    position: absolute;
    left: 3px;
    width: 24px;
    height: 1px;
    content: "";
    background-color: var(--color-darker-gray);
    transition: all 0.2s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.gh-burger::before {
    top: 11px;
}

.gh-burger::after {
    bottom: 11px;
}

.is-head-open .gh-burger::before {
    top: 15px;
    transform: rotate(45deg);
}

.is-head-open .gh-burger::after {
    bottom: 14px;
    transform: rotate(-45deg);
}

@media (max-width: 991px) {
    #gh-head {
        height: 64px;
    }

    #gh-head .gh-head-inner {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        gap: 48px;
    }

    #gh-head .gh-head-brand {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-column-start: 1;
        align-items: center;
        height: 64px;
    }

    #gh-head .gh-head-logo {
        font-size: 2.2rem;
    }

    .gh-burger {
        display: block;
    }

    #gh-head .gh-head-menu,
    #gh-head .gh-head-actions {
        position: fixed;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
    }

    #gh-head .gh-head-menu {
        transition: none;
        transform: translateY(0);
    }

    #gh-head .nav {
        gap: 20px;
        align-items: center;
        line-height: 1.4;
    }

    #gh-head .nav a {
        font-size: 2.6rem;
        font-weight: 600;
        text-transform: none;
    }

    #gh-head .nav li {
        opacity: 0;
        transform: translateY(-4px);
    }

    #gh-head .gh-head-actions {
        text-align: center;
    }

    #gh-head .gh-head-btn {
        width: 100%;
        font-size: 1.8rem;
        text-transform: none;
        opacity: 0;
        transform: translateY(8px);
    }

    #gh-head .gh-head-btn:not(.gh-btn) {
        font-size: 2rem;
    }

    #gh-main {
        transition: opacity 0.4s;
    }

    .is-head-open #gh-head {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 3999999;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .is-head-open:not(.is-head-brand):not(.is-head-dark):not(.is-head-transparent) #gh-head {
        background-color: var(--color-white);
    }

    .is-head-open.is-head-transparent #gh-head,
    .is-head-open:is(.is-head-transparent, .is-head-brand) #gh-head .gh-head-actions {
        background-color: var(--ghost-accent-color);
    }

    .is-head-open.is-head-dark #gh-head,
    .is-head-open.is-head-dark #gh-head .gh-head-actions {
        background-color: var(--color-darker-gray);
    }

    .is-head-open #gh-head .gh-head-menu,
    .is-head-open #gh-head .gh-head-actions {
        position: static;
        visibility: visible;
        opacity: 1;
    }

    .is-head-open #gh-head .nav {
        display: flex;
        flex-direction: column;
    }

    .is-head-open #gh-head .nav li {
        opacity: 1;
        transition: transform 0.2s, opacity 0.2s;
        transform: translateY(0);
    }

    .is-head-open #gh-head .gh-head-actions {
        position: sticky;
        right: 0;
        bottom: 0;
        left: 0;
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        padding: var(--gap);
        background-color: var(--color-white);
    }

    .is-head-open #gh-head .gh-head-btn {
        opacity: 1;
        transition: transform 0.4s, opacity 0.4s;
        transition-delay: 0.2s;
        transform: translateY(0);
    }

    .is-head-open #gh-main {
        opacity: 0;
    }
}

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }

    40% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.animate__bounceIn {
    animation-name: bounceIn;
    animation-duration: 0.3s;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }

    to {
        opacity: 0;
    }
}

.animate__zoomOut {
    animation-name: zoomOut;
    animation-duration: 0.3s;
}
