:root {
    --primary-color: var(--ghost-accent-color, #2ec4b6);
    --primary-text-color: #333;
    --secondary-text-color: #aaa;
    --white-color: #fff;
    --light-gray-color: #f4f4f4;
    --mid-gray-color: #e9e9e9;
    --dark-gray-color: #1a1a1a;
    --black-color: #000;
    --font-base: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: Lora, Times, serif;
    --font-alt: Dosis, sans-serif;
    --animation-base: ease-in-out;
    --shadow-base: 0 0 10px rgba(0, 0, 0, 0.02);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-base);
    font-size: 14px;
    line-height: 1.65;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    background-color: var(--light-gray-color);
    background-color: #f9f9f9;
    transition: background-color 0.3s var(--animation-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--dark-gray-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: var(--dark-gray-color);
    font-family: var(--font-alt);
    line-height: 1.25;
    font-weight: 700;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote {
    margin: 30px auto;
    padding: 5px 0 5px 15px;
    border-left: 4px solid var(--dark-gray-color);
    color: var(--dark-gray-color);
    font-size: 18px;
    line-height: 1.4;
}

ul,
ol {
    margin: 30px 0;
    padding-left: 30px;
}

li {
    margin: 5px 0;
}

iframe,
embed {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0;
}

figure {
    margin: 45px 0;
}

figcaption {
    margin-top: 15px;
    color: var(--dark-gray-color);
    font-size: 14px;
    text-align: center;
}

pre {
    overflow-x: scroll;
    margin: 30px 0;
}

hr {
    position: relative;
    margin: 45px auto;
    width: 5px;
    height: 5px;
    border: 0;
    background-color: var(--dark-gray-color);
    border-radius: 50%;
}

hr::before,
hr::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--dark-gray-color);
    border-radius: 50%;
}

hr::before {
    right: 20px;
}

hr::after {
    left: 20px;
}
