.site-cover {
    position: relative;
    display: flex;
    min-height: 480px;
    padding: 8vmin var(--gap);
}

.cover-content {
    position: relative;
    z-index: 10;
    max-width: 720px;
    margin: auto;
    color: var(--white-color);
    text-align: center;
}

.cover-logo {
    max-height: 100px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.cover-description {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    word-break: break-word;
}
