.site-cover {
    display: flex;
    min-height: 350px;
    padding: 30px;
    position: relative;
}

.cover-content {
    color: var(--white-color);
    margin: auto;
    max-width: 500px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.cover-logo {
    margin: 0 auto;
    max-height: 100px;
}

.cover-description {
    font-size: 16px;
    margin-top: 20px;
}
