.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.header-right {
    display: flex;
}

.logo-text {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu-item {
    font-size: 14px;
    opacity: 0.7;
}

.menu-item + .menu-item {
    margin-left: 20px;
}

.menu-item-current {
    font-weight: 500;
    opacity: 1;
}

.header-subscribe,
.header-menu {
    position: relative;
}

.header-button {
    height: 30px;
}

.header-button .icon {
    font-size: 18px;
}

.header-button-subscribe {
    margin-left: 30px;
    min-width: 101px;
}

.header-button-menu {
    margin-left: 10px;
    padding: 0 10px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
}

.mobile-menu .menu-item {
    padding: 2px 0;
    font-size: 16px;
    font-weight: 500;
}

.mobile-menu .menu-item + .menu-item {
    margin-left: 0;
}
