.gh-head {
    font-weight: 500;
}

/* .gh-head-btn.gh-btn {
    padding: 10px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.1;
} */

/* .gh-head-btn.gh-btn:hover {
    opacity: 0.95;
} */
