.player-opened {
    padding-bottom: 80px;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding: 60px 0;
}

@media (max-width: 767px) {
    .site-content {
        padding: 40px 0;
    }
}
