.player {
    display: flex;
    width: 100%;
    max-width: 960px;
    margin: 0 auto 48px;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
}

.player .post-media {
    position: relative;
    width: 160px;
    height: 160px;
    margin: -1px 0 -1px -1px;
    border-radius: 6px 0 0 6px;
}

.player .post-header {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.player .post-header-wrapper {
    overflow: hidden;
}

.player .button-play {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    font-weight: 700;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--brand-color);
    border: 0;
    border-radius: 50%;
    outline: none;
}

.player .button-play svg:nth-child(2),
.player .button-play.playing svg:nth-child(1) {
    display: none;
}

.player .button-play.playing svg:nth-child(2) {
    display: block;
}

.player .post-title {
    overflow: hidden;
    font-size: 2.4rem;
    line-height: 1.3;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player .post-meta {
    margin-top: 2px;
}

.player-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 20px 24px;
    overflow: hidden;
}

.player-track {
    height: 4px;
    margin-top: 24px;
    background-color: var(--color-light-gray);
}

.player-progress {
    width: 0;
    height: 100%;
    background-color: var(--color-dark-gray);
}

.player-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.player-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1;
}

@media (max-width: 767px) {
    .player .post-media {
        display: none;
    }
}
