.u-permalink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    outline: none;
}

.u-object-fit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-overlay {
    position: relative;
}

.u-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: var(--black-color);
    opacity: 1;
    transition: opacity 1s var(--animation-base);
}

.u-overlay.initialized::before {
    opacity: 0.4;
}

.u-placeholder {
    position: relative;
    z-index: 10;
    background-color: var(--light-gray-color);
}

.u-placeholder::before {
    content: "";
    display: block;
}

.u-placeholder.horizontal::before {
    padding-bottom: 50%;
}

.u-placeholder.rectangle::before {
    padding-bottom: 62.5%;
}

.u-placeholder.square::before {
    padding-bottom: 100%;
}

@media (max-width: 767px) {
    .u-placeholder.horizontal::before {
        padding-bottom: 62.5%;
    }
}

.u-text-format {
    font-size: 16px;
    line-height: 1.8;
}

.u-text-format > * {
    margin-bottom: 0;
}

.u-text-format > * + * {
    margin-top: 30px;
}

.u-text-format > *:first-child {
    margin-top: 0 !important;
}

.u-text-format > * + p,
.u-text-format > * + ul,
.u-text-format > * + ol {
    margin-top: 20px;
}

.u-text-format h1,
.u-text-format h2,
.u-text-format h3,
.u-text-format h4,
.u-text-format h5,
.u-text-format h6 {
    margin-top: 30px;
}

.u-text-format h1 + p,
.u-text-format h2 + p,
.u-text-format h3 + p,
.u-text-format h4 + p,
.u-text-format h5 + p,
.u-text-format h6 + p {
    margin-top: 15px;
}

.u-text-format h1 {
    font-size: 25px;
}

.u-text-format h2 {
    font-size: 22px;
}

.u-text-format h3 {
    font-size: 19px;
}

.u-text-format h4 {
    font-size: 16px;
    font-weight: 700;
}

.u-text-format h5 {
    font-size: 14px;
    font-weight: 700;
}

.u-text-format h6 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.u-text-format a {
    text-decoration: underline;
}

.u-text-format ul li,
.u-text-format ol li {
    margin: 10px 0;
}

.u-text-format > .kg-card,
.u-text-format > .kg-card + * {
    margin-top: 45px;
}

.u-text-format hr,
.u-text-format hr + * {
    margin-top: 40px;
}

.u-text-format blockquote,
.u-text-format blockquote + * {
    margin-top: 30px;
}
