// Colors
@primary-text-color: #333;
@secondary-text-color: #aaa;
@white-color: #fff;
@light-gray-color: #f1f1f1;
@mid-gray-color: #e9e9e9;
@dark-gray-color: #1a1a1a;
@black-color: #000;

// Basics
@font-base: "Open Sans", sans-serif;
@font-alt: Dosis, sans-serif;
@animation-base: ease-in-out;
@shadow-base: 0 5px 30px rgba(0,0,0,.2);