.widget {
  background-color: @white-color;
  padding: 20px;

  & + & {
    margin-top: 30px;
  }
}

.widget-no-title {
  padding: 5px;
}

.widget-title {
  border-bottom: 1px solid @light-gray-color;
  color: @secondary-text-color;
  font-family: @font-base;
  font-size: 11px;
  letter-spacing: .5px;
  margin: -20px -20px 20px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.widget-tags {
  .tag + .tag {
    margin-top: 5px;
  }

  .tag-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .tag-name {
    font-family: @font-alt;
    font-size: 16px;
    font-weight: 600;
  }

  .tag-count {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: @white-color;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    justify-content: center;
    min-width: 24px;
  }
}

.widget-recent {
  .recent {
    align-items: center;
    display: flex;

    & + .recent {
      margin-top: 20px;
    }
  }

  .post-header {
    margin-bottom: 0;
    overflow: hidden;
  }

  .post-title {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .post-date {
    margin-top: 3px;
  }
}

.widget-instagram {
  padding: 4px;
  
  .instagram-feed {
    display: flex;
    flex-wrap: wrap;
  }

  .instagram-feed-item {
    flex-shrink: 0;
    margin: 1px;
    position: relative;
    width: calc(~"33.3333333333% - 2px");

    &:before {
      background-color: rgba(0,0,0,.5);
      content: "";
      display: block;
      opacity: 0;
      padding-bottom: 100%;
      position: relative;
      transition: opacity .2s @animation-base;
      z-index: 10;
    }

    &:hover:before,
    &:hover .instagram-feed-item-icon {
      opacity: 1;
    }
  }

  .instagram-feed-item-icon {
    align-items: center;
    color: @white-color;
    display: flex;
    font-size: 20px;
    height: 40px;
    justify-content: center;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity .2s @animation-base;
    width: 40px;
    z-index: 20;
  }
}

@media (max-width: 767px) {
  .widget-title {
    margin-bottom: 0;
    margin-top: 0;
  }
}