:root {
    --color-primary-text: #333;
    --color-secondary-text: #888;
    --color-white: #fff;
    --color-lighter-gray: #f6f6f6;
    --color-light-gray: #e6e6e6;
    --color-mid-gray: #ccc;
    --color-dark-gray: #444;
    --color-darker-gray: #15171a;
    --color-black: #000;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-serif: Georgia, serif; /* stylelint-disable-line value-keyword-case */
    --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; /* stylelint-disable-line value-keyword-case */
    --head-height: 96px;
    --head-nav-gap: 2.4rem;
    --h1-size: 4.6rem;
}

@media (max-width: 767px) {
    :root {
        --head-height: 64px;
        --h1-size: var(--h1-size-s, 3rem);
    }
}
