.u-plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.u-placeholder {
  background-color: @light-gray-color;
  position: relative;
  z-index: 10;

  &.same-height {
    height: 0;
  }

  &.rectangle {
    padding-bottom: 62.5%;
  }
}

.u-object-fit {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}