:root {
  --primary-color: #9692af;
  --primary-text-color: #222;
  --secondary-text-color: #aaa;
  --yellow-color: #ffc475;
  --white-color: #fff;
  --light-gray-color: #f1f1f1;
  --mid-gray-color: #d9d9d9;
  --dark-gray-color: #1a1a1a;
  --black-color: #000;
  --font-base: raleway, sans-serif;
  --animation-base: ease;
  --shadow-base: 0 0 10px rgba(0, 0, 0, 0.2);
  --scrollbar: 0px; /* stylelint-disable-line length-zero-no-unit */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--font-base);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  transition: background-color 0.3s var(--animation-base);
  word-break: break-word;
}

a {
  color: var(--dark-gray-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-gray-color);
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 15px;
}

p {
  margin: 0 0 30px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

blockquote {
  color: var(--dark-gray-color);
  font-size: 22px;
  font-weight: 800;
  line-height: 1.4;
  margin: 30px auto;
  max-width: 550px;
  text-align: center;
}

ul,
ol {
  margin: 30px 0;
  padding-left: 20px;
}

li {
  line-height: 1.7;
  margin: 15px 0;
}

iframe,
embed {
  border: 0;
  display: block;
  overflow: hidden;
  width: 100%;
}

figure {
  margin: 45px 0;
}

figcaption {
  color: var(--dark-gray-color);
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}

pre {
  margin: 30px 0;
  overflow-x: scroll;
}

hr {
  background-color: var(--dark-gray-color);
  border: 0;
  border-radius: 50%;
  height: 5px;
  margin: 45px auto;
  position: relative;
  width: 5px;
}

hr::before,
hr::after {
  background-color: var(--dark-gray-color);
  border-radius: 50%;
  content: "";
  height: 5px;
  position: absolute;
  width: 5px;
}

hr::before {
  right: 20px;
}

hr::after {
  left: 20px;
}
