.button-arrow-icon {
    display: inline-block;
    line-height: 1;
    transition: transform 0.2s var(--animation-base);
    vertical-align: middle;
}

.button-arrow-right:hover .button-arrow-icon {
    transform: translateX(5px);
}

.button-arrow-left:hover .button-arrow-icon {
    transform: translateX(-5px);
}
